/* 
    Document   : communities
    Created on : Jul 26, 2012, 11:07:54 AM
    Author     : ficco
    Description:
        Purpose of the stylesheet follows.
*/


.conversation-result {
    border-bottom: 3px dotted #d2d2d2;
    padding: 15px 0px;
}


.conversation-title,
.conversation-title a, 
.conversation-title a:hover,
.conversation-title a:visited,
.conversation-title a:active {
    color: #DC6E23;
}
.conversation-title a:hover {
    font-weight: bold;
}
.conversation-title h2 {
    float: left;
}

span.conversation-last-updated {
    float: right;
    font-weight: normal;
    font-size: 13px;
    text-transform: none;
}
/*
#communities-pic {
    float: left;
    width: 49%;
}
#communities-pic img {
    border: 3px solid #DC6E23;
}
*/
.conversation-abstract {
    padding-bottom: 30px;
}
#communities-description {
    margin-left: 51%;
    width: 49%;
}
#all-conversations-box {
    min-height: 400px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #DC6E23;
    -moz-box-shadow: 3px 3px #DC6E23;
    -webkit-box-shadow: 3px 3px  #DC6E23;
    box-shadow: 3px 3px  #DC6E23;
    font-family: Arial, serif;
}
#all-conversations-box a,
#all-conversations-box a:hover,
#all-conversations-box a:visited,
#all-conversations-box a:active {
    color: #DC6E23;
}
#all-conversations-box a:hover {
    font-weight:bold;
}
#all-conversations-title {
    position: relative;
    width: 100%;
    padding:0px;
    margin:0px;
}
#all-conversations-title-all,
#all-conversations-title-conversations {
    position:aboslute;
    background-color: #DC6E23;
    font-size: 25px;
    color: #fff;
    left: 0px;
    padding: 1% 5%;   
    text-transform: uppercase;
}
#all-conversations-title-all {
    position: absolute;
    top: 5px;
}
#all-conversations-title-conversations {
    position:absolute;
    top: 40px;
}
#all-conversations-pager {
    float: right;
    text-align: right;
}


#all-conversations-results {
    width: 100%;
}
#all-conversations-left {
    float: left;
    margin-left: 5%;
    width: 40%;
    border-right: 1px dotted #d2d2d2;
}
#all-conversations-right {
    margin-left: 55%;
    width: 40%;
}

.all-conversations-result {
    padding: 10px 0px;
}

.all-conversations-result-details {
    color: #2d2d2d;
    opacity: 0.75;
    filter: alpha(opacity=75);
    font-size: 11px;
}

.communities-topic h1 {
    color: #DC6E23;
}

#communities-topic-results h2 {
    color: #DC6E23;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: 3px dotted #d2d2d2;
}

.community-of-practice-title {
    padding-bottom: 4px;
}
.community-of-practice-desc {
    padding-bottom: 20px;
}
.community-of-practice-title a,
.community-of-practice-title a:hover,
.community-of-practice-title a:visited,
.community-of-practice-title a:active {
    color: #DC6E23;
}
.community-of-practice-title a:hover {
    font-weight: bold;
}

.community-of-practice {
    margin: 10px 0px;
    padding: 10px 0;
    border-bottom: 3px dotted #d2d2d2;
}

.community-join-link a,
.community-join-link a:visited {
             background-image:-webkit-repeating-linear-gradient(left top, #D5FF87 0px, #fff 4px);
  background-image:-moz-repeating-linear-gradient(left top, #D5FF87 0px, #fff 4px);
  background-image:-ms-repeating-linear-gradient(left top, #D5FF87 0px, #fff 4px);
  background-image:-o-repeating-linear-gradient(left top, #D5FF87 0px, #fff 4px);
  background-image:repeating-linear-gradient(left top, #D5FF87 0px, #fff 4px);
  padding:7px;
  border: 2px solid #9AB83F;
  font-weight: bolder;
  font-size: 14px;
  color: #9AB83f;
  width: 120px;
  text-align:center;
  text-transform: uppercase;
  margin-left:auto;
  margin-right:auto;
  text-decoration: none;
}
.community-join-link a:hover {
    background-image:-webkit-repeating-linear-gradient(left top, #BCD35A 0px, #9AB83F 4px);
  background-image:-moz-repeating-linear-gradient(left top, #BCD35A 0px, #9AB83F 4px);
  background-image:-ms-repeating-linear-gradient(left top, #BCD35A 0px, #9AB83F 4px);
  background-image:-o-repeating-linear-gradient(left top, #BCD35A 0px, #9AB83F 4px);
  background-image:repeating-linear-gradient(left top, #BCD35A 0px, #9AB83F 4px);
  color: #fff;
  text-decoration: none;
}

#community-members {
    padding: 10px 15px;
    position: relative;
    margin: 25px auto;
    border: 1px solid #DC6E23;
    border-bottom: solid #E79964  5px;
    border-right: solid #E79964  5px;
    width: 80%;
}

#community-members:before {
    content: '';
    position: absolute;
    left: -8px;
    bottom: -7px;
    border: solid transparent 7px;
    -moz-border-start-style: inset;
    border-bottom-color: white;
}

#community-members:after {
    content: '';
    position: absolute;
    top: -2px;
    right: -14px;
    border: solid transparent 7px;
    -moz-border-start-style: outset;
    border-top-color: white;
}


#community-members #community-members-title {
    color: #DC6E23;
    text-transform: uppercase;
    border-bottom: 2px dotted #d2d2d2;
    font-weight: bold;
    padding: 0px 5px;
    margin: 10px;
}
#community-members #community-members-list {
    margin: 10px;
}
#community-members-list .community-member a,
#community-members-list .community-member a:hover,
#community-members-list .community-member a:visited,
#community-members-list .community-member a:active {
    color: #DC6E23;
}
#community-members-list .community-member a:hover {
    font-weight: bold;
}


/*******************************************************************************
*********************** OUTPUT FROM SNIPPETS ***********************************
*******************************************************************************/
.started-by,
.started-by a,
.started-by a:hover,
.started-by a:visited, 
.started-by a:active {
    font-style: italic;
    color: #2d2d2d;
    font-size: 12px;
    opacity: 0.75;
    filter: alpha(opacity=75);
}
.started-by a:hover {
    font-weight: bold;
}

.latest-comment {
    width: 100%;
    padding-top: 10px;
}

.recent-activity-text {
    float: left;
    width: 12%;
    color: #DC6E23;
    letter-spacing: -1px;
}

.latest-comment-response {
    margin-left: 12%;
    width: 82%;
}

.recent-comment-userpic {
    float: left;
    width: 10%;
}

.conversation-recent-comment-userpic {
    float: left;
    width: 6%;
}

.latest-comment-text {
    /*margin-left: 10%;
    width: 90%;*/
    margin-left: 0px;
    width: 94%;
    margin-left: 6%;
}
.latest-comment-text p,
#communities .header-paragraph p{
    margin: 0px;
    padding: 0px;
}
.last-result {
    border-bottom: none;
}

.convo-title h2 {
    margin-bottom: 5px;
}
.conversation-abstract p{
    margin: 5px 0;
}
#community-members-list .manage-members {
    clear:both; 
    margin-top: 25px;
}


#communities-of-practice h2 .button {
    float: right;
    line-height: 1em;
    margin: 0;
}

.community-member {
    clear: both;
}

.community-member .conversation-recent-comment-userpic {
    width: 10%;
}

.community-of-practice-link {
    float: left;
    margin-right: 20px;
}

.community-of-practice .manage-members {
    float:left;
    
}