/* 
    Document   : resources
    Created on : Jul 9, 2012, 12:05:36 PM
    Author     : ficcolm
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.resource-issue {
    border: 0.1em dashed black;
    margin: 0em .5em 2.5em .5em;
    padding: .5em 1.25em 1em 1.25em; /* Top Right Bottom Left */
}

.resource-issue h2 {
    padding: 0em 0em 0em 0em; /* Top Right Bottom Left */
    margin: 0em 0em .25em 0em; /* Top Right Bottom Left */
}

.resource-citation-detail {
    /*border: 1px solid red;*/
}

/*.resource-citation {
    margin: 1em;
}*/

#resource-level-3 #filter-box {
    border: .3px dotted black;
    padding: 1em;
    margin: 1.5em;
}

#resource-level-3 .result {
    margin: 0.6em;
}

#resource-comments {
    border: 0.1em dotted black;
    padding: .5em 1.25em 1em 1.25em; /* Top Right Bottom Left */
}

.resource-comments {
    border: 1px solid red;
}

.resource-level-2-item {
    border: 0.1em dotted black;
    margin:  1em;
}

.resource-level-2-result {
    margin: .5em;
}

div.resource-output{
	clear: both;
}

div.resource-output-image{
	float: left;
	clear: both;

	font-family: Arial, sans-serif;
	font-size: 13px;
	color: #2d2d2d;
	margin-right: 30px;
}

div.resource-output-title a:visited {
	color: #626262;
}

div.resource-output-title a:hover {
	font-weight: bold;
}