/* 
    Document   : AccrualNet
    Created on : May 22, 2012, 2:35:54 PM
    Author     : doylejd
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/



body{
    font-size: 13px;
}

h1#site-name {
    border: none;
}
h1#site-name .site-name-accrual {
    font-size: 55px;
    font-weight: bolder;
    text-transform:none;
    vertical-align:bottom;
    color: #54316E;
}
h1#site-name .site-name-net {
    font-size: 55px;
    font-weight: bolder;
    text-transform:none;
    vertical-align:bottom;
    color: #9AB83F;
}
h1#site-name .tm {
    font-size: 15px;
    font-weight: bolder;
    vertical-align: super;
    color: #9AB83F;
}

h2#site-slogan {
    font-size: 16px;
    font-weight: bold;
    text-transform: none;
    border: none;
    color: #105693;
}

#page-header .header-content {
    overflow:hidden;
    position:relative;
}

#page-header .header-content hgroup{
    position:absolute;
    bottom: 20px;
}
.header-content ul{
    margin: 0;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}


h1,
h1.title{
    font-size: 25px;
    text-transform: uppercase;
    border-bottom: 3px dotted #d2d2d2;
    margin: 15px 0;
}

h2,
h2.title {
    font-size: 17px;
    font-weight: 900;
    text-transform: uppercase;
    border-bottom: 3px dotted #d2d2d2;
}

h2.block-title {
    border:none;
    color: #54316E;
}

h1 span {
    font-size: 25px;
    text-transform: uppercase;
    margin: 15px 0;
}

#page-options {
    clear: both;
    overflow: hidden;
}

.breadcrumb {
    float:left;
}

.add-this {
    float:right;

    font-size: 10px;
    text-transform:uppercase;
}
.add-this a {
    padding: 0 10px;
    
}
.add-this span{
    display:inline-block;
    margin-top: 5px;
    margin-right: 4px;
}


/*************************************************************
            Landing Page Styles
*************************************************************/
.landing-page-header {

}

.landing-page-image {
    float:left;
    width: 60%;
}
.landing-page-text {
    width: 40%;
    margin-left: 60%;
}

/*Must clear both on this div instead of header div because image is floated*/
#literature-landing-page #resources-list,
#protocol-landing-page .lifecycle-stages{
    clear:both;
}

/*Must clear both on this div instead of header div because image is floated*/
#protocol-landing-page .lifecycle-stages {
    clear:both;
}

#protocol-landing-page .lifecycle-stage {
    border-bottom: 3px dotted #d2d2d2;
}

#protocol-landing-page  .last {
    border-bottom: none;
}


/****************************End LAnding PAge STyles***********/

#title-results-number { 
    color: #2D2D2D; 
    opacity: 0.75;
    filter:alpha(opacity=75);
}


#ncibanner {
	background-color: #fff;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

#ncibanner ul {
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	max-width: 1200px;
}
#ncibanner ul li {
	padding-bottom: 0;
}
#ncibanner ul li.nciLogo {
	float: left;
}
#ncibanner ul li.nciLogo a {
	background-repeat: no-repeat;
	display: block;
	height: 39px;
	text-indent: -9999px;
	width: 263px;
}
#ncibanner ul li.nihText {
	float: right;
}
#ncibanner ul li.nihText a {
	background-repeat: no-repeat;
	display: block;
	height: 39px;
	text-indent: -9999px;
	width: 208px;
}
#ncibanner ul  li.nciURL {
	float: right;
}
#ncibanner ul li.nciURL a {
	background-repeat: no-repeat;
	display: block;
	height: 39px;
	text-indent: -9999px;
	width: 99px;
}



/**
			White Banner
		**/
#ncibanner {
	background-color: #fff;
	color: #000;
}
#ncibanner ul li.nciLogo a {
	background-image: url('../images/global/white-ncilogo.gif');
}
#ncibanner ul li.nihText a {
	background-image: url('../images/global/white-nihtext.gif');
}
#ncibanner ul li.nciURL a {
	background-image: url('../images/global/white-nciurl.gif');
}


#footer {
    background: #272828;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    margin: 0 auto;
    text-align: center;
    padding:0;
}
.footer-push {
    height: 112px;
}
#nci-footer {
    padding:0;
    margin: 0 auto;
    text-align: center;
    max-width: 1200px;

}


#nci-footer a {
	color: #fff;
}
#nci-footer a {
	color: #fff;
}
#nci-footer a:hover {
	color: #fff;
}
#nci-footer .footer-links ul {
	text-align: center;
	margin: 0 auto;
	padding: 22px 0 0 0;
}
#nci-footer .footer-links li{
	display: inline;
	border-right: 1px solid #fff;
	padding: 0 5px;
}

#nci-footer .footer-images li {
    display: inline;
    padding: 0 25px;
}

#nci-footer .footer-links li.last {
	border: none;
}
#nci-footer img {
	border: 0;
	padding-top: 12px;
	margin: 0 auto;
}                        

#nci-footer .footer-text {
    color: #fff;
    font-style: italic;
    margin: 15px auto 0px;
}

/**************************************
	   Global Styles
*************************************/
input, 
input[type="password"], 
input[type="search"], 
isindex {
	background-color: white;
	border: 1px solid #9AB83F;
	padding: 5px;
}

.form-type-textfield input {
	width: 200px;
}


html, body {
    height: 100%;

}
#page {
    height:auto !important;
    margin:0px auto -112px;  /*this value is the footer height)*/
    min-height:100%;

}


#main {
    background: white;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;



}

#main-wrapper {
    
    border-top: 1px solid rgb(154, 184, 63);
    border-top: 1px solid rgba(154, 184, 63, 1);
    position:relative;
    top: -2px;
}

#header {
    background-color: white ;
    /*background-image: repeating-linear-gradient(-45deg, white, white 2px, white 2px, white 4px);
    background-image: -webkit-repeating-linear-gradient(-45deg, #ffe5ca, #ffe5ca 1%, white 2%, white 3% );

    background-image: -webkit-gradient(linear, 100% 0%, 0% 100%,
    from(transparent),
    color-stop(0.15, transparent), 
    color-stop(0.15, rgba(255,0,0,0.75)),
    color-stop(0.50, rgba(255,0,0,0.75)),
    color-stop(0.50, transparent),
    color-stop(0.65, transparent),
    color-stop(0.65, rgba(255,0,0,0.75)), 
    to(rgba(255,0,0,0.75)));*/

    background-image:
		-webkit-gradient(linear, 0% 0%, 100% 100%, from(rgba(154, 184, 63, .2)), color-stop(0.15, rgba(154, 184, 63, .2)), color-stop(0.15, transparent), color-stop(0.50, transparent), color-stop(0.50, rgba(154, 184, 63, .2)), color-stop(0.65, rgba(154, 184, 63, .2)), color-stop(0.65, transparent), to(transparent));
    background-image: 
        -moz-linear-gradient(-45deg, rgba(154, 184, 63, .2), rgba(154, 184, 63, .2) 15%, white 50%,  rgba(154, 184, 63, .2) 65%, white);
    background-size: 10px 10px;
    -webkit-background-size: 10px 10px;
    -moz-background-size: 10px 10px;
}

header#page-header {
    max-width: 1200px;
    margin: 0 auto;
}




.field-type-taxonomy-term-reference {
	float:left;
	padding-right: 10px;

}

#site-wide-search-box {
    clear:both;
    width: 100%;
    margin: 30px auto;
}

#site-wide-search-box form {
    float:right;
}

#page-options {
    padding-left: 10px;
    margin: 5px 0 10px 0;
}

/** Added by Lauren **/
.form-type-checkbox label,
.form-type-checkbox label{
    margin-left: 25px;
    color: black;
    font-weight: normal;
    font-size: 13px;
}

.unchecked {
    background-image: url('../images/global/checkbox_unchecked.jpg'); 
    background-repeat:no-repeat;
    background-position:left center; 
}
.checked {
    background-image: url('../images/global/checkbox_checked.jpg'); 
    background-repeat:no-repeat;
    background-position:left center; 
}

/** Added by Dan **/

/** knock the site into Arial */
html, button, input, select, textarea {
    font-family: Arial, sans-serif;
}

.search-form div .form-wrapper .form-submit{
	margin-left: 30px;
}

.search-title{
	clear: both;
	margin-bottom: 0px;
}

hr.search-divider{
	margin: 1.5em 0 1em;
}

.search-count{
	width: 50%;
	float: left;
	font-weight: bold;
	margin-bottom: 3em;
}

.search-pager{
	float: right;
}

li.search-result{
	clear: both;
}

h2.element-invisible{
	margin: 0px;
	line-height: normal;
}

.search-pager .item-list .pager{
	margin: 0px;
}

body  .search-form,
body  .search-title,
body .search-pager,
body .search-count,
body .search-results{
	color: #2d2d2d;
}

body a:visited {
	color: #626262;
}



/********************Lifecycle Styling***************************/

.lifecycle-stage-image {
    float:left;
    width: 55%;
    text-align:left;
}
.lifecycle-stage-body {
    width: 40%;
    margin-left: 60%;
}

.lifecycle-stage-content{
    clear:both;
}

.lifecycle-stage-strategy {
    border-bottom: 3px dotted #d2d2d2;
    clear:both;
    min-height: 110px;
}
.lifecycle-strategy-icon {
    float:left;
    width: 10%;
    text-align:center;
}
.lifecycle-strategy-icon img {
    
}
.lifecycle-strategy-teaser {
    width: 90%;
    margin-left: 10%;
}

.lifecycle-stage-strategies .last,
.lifecycle-strategy-body .last{
    border-bottom: none;
}

.lifecycle-activity {
    padding-bottom: 20px;
    border-bottom: 3px dotted #d2d2d2;
    clear:both;
}
/********************End Lifecycle Styling***********************/


/*****************Featured Content Styling**********************/
.featured-content-title {
    margin: 30px 0;
}
.feature-header{
    font-size:35px;
    text-transform: uppercase;
    background-color: #9AB83F;
    color: #fff;
    padding: 10px 20px;
    
}

.Blue .feature-header {
    background-color: #105693;
}
.Purple .feature-header {
    background-color: #54316E;
}
.Red .feature-header {
    background-color: #C74532;
}
.Orange .feature-header {
    background-color: #DC6E23;
}


.featured-content-section-1,
.featured-content-section-4{
    float:left;
    width:45%;
    padding-left: 2%;
    padding-right: 2%;
}

.featured-content-picture {
    float:left;
    width:45%;
    padding-left: 2%;
    padding-right: 2%;
    text-align:center;
}
.featured-content-section-4 {
    border-left: 3px dotted #d2d2d2; 
}

.featured-content-block {
    list-style: none;
    overflow:hidden;
}

.featured-content-block div.resource-output {
    min-height: 10px;
}

.featured-content-carousel {
    position: relative;
    
    border-bottom: solid #9AB83F 7px;
    border-right: solid #9AB83F 7px;
}

.Purple .featured-content-carousel {
    border-bottom: solid #54316E 7px;
    border-right: solid #54316E 7px;
}
.Red .featured-content-carousel {
    border-bottom: solid #C74532 7px;
    border-right: solid #C74532 7px;
}
.Blue .featured-content-carousel {
    border-bottom: solid #105693 7px;
    border-right: solid #105693 7px;
}
.Orange .featured-content-carousel {
    border-bottom: solid #DC6E23 7px;
    border-right: solid #DC6E23 7px;
}

.featured-content-carousel:before {
  content: '';
  position: absolute;
  left: -7px;
  bottom: -7px;
  border: inset transparent 7px;
  border-bottom-color: #fff;
}

.featured-content-carousel:after {
  content: '';
  position: absolute;
  top: 0px;
  right: -14px;
  border: outset transparent 7px;
  border-top-color: #fff;
}


.featured-content-carousel  li {
    list-style:none;
}
.featured-carousel-slides {
    border: 3px solid #9AB83F;
}
.Blue .featured-carousel-slides {
    border: 3px solid #105693;
}

.Red .featured-carousel-slides {
    border: 3px solid #C74532;
}

.Purple .featured-carousel-slides {
    border: 3px solid #54316E;
}

.Orange .featured-carousel-slides {
    border: 3px solid #DC6E23;
}
.featured-carousel-slides  .slide {
    
    min-height: 380px;
}

.slideshowControls{
    display:table;
    width: 100%;
    table-layout: fixed;
    clear:both;
    margin: 30px 0;
    
}
.slideshowControl {
    display: table-cell;
    
    text-align:center;
    max-width: 50%;
    margin: 30px;
    
}
.slideshowControl  div{
    cursor: pointer;
    margin: 0px 20px;
    padding: 10px 20px;
    
    
    border: 1px solid #9AB83F;
    border-bottom: 5px solid #9AB83F; 
    
    background-color: #fff;
    background-image:
        -webkit-gradient(linear, 0% 0%, 100% 100%, from(rgba(154, 184, 63, .2)), color-stop(0.15, rgba(154, 184, 63, .2)), color-stop(0.15, transparent), color-stop(0.50, transparent), color-stop(0.50, rgba(154, 184, 63, .2)), color-stop(0.65, rgba(154, 184, 63, .2)), color-stop(0.65, transparent), to(transparent));
    background-image: 
		-moz-linear-gradient(-45deg, rgba(154, 184, 63, .2), rgba(154, 184, 63, .2) 15%, white 50%,  rgba(154, 184, 63, .2) 65%, white);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgb(154, 184, 63)', endColorstr='white'); /* IE6 & IE7 */  
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='rgb(154, 184, 63)', endColorstr='white')"; /* IE8+ */  
    background-size: 10px 10px;
    -webkit-background-size: 10px 10px;
    -moz-background-size: 10px 10px;
    
    
    
    opacity: 0.4;
    filter:alpha(opacity=40);
}

.slideshowControls .selected div {
    opacity: 1;
    filter:alpha(opacity=100);
}


.Blue .slideshowControl  div {
    border: 1px solid #105693;
    border-bottom: 5px solid #105693; 
    
    background-color: #fff;
    background-image:
        -webkit-gradient(linear, 0% 0%, 100% 100%, from(rgba(16, 86, 147, .1)), color-stop(0.15, rgba(16, 86, 147, .1)), color-stop(0.15, transparent), color-stop(0.50, transparent), color-stop(0.50, rgba(16, 86, 147, .1)), color-stop(0.65, rgba(16, 86, 147, .1)), color-stop(0.65, transparent), to(transparent));
    background-image: 
		-moz-linear-gradient(-45deg, rgba(16, 86, 147, .1), rgba(16, 86, 147, .1) 15%, white 50%,  rgba(16, 86, 147, .1) 65%, white);
}
.Purple .slideshowControl  div {
    border: 1px solid #54316E;
    border-bottom: 5px solid #54316E; 
    
    background-color: #fff;
    background-image:
        -webkit-gradient(linear, 0% 0%, 100% 100%, from(rgba(84, 49, 110, .2)), color-stop(0.15, rgba(84, 49, 110, .2)), color-stop(0.15, transparent), color-stop(0.50, transparent), color-stop(0.50, rgba(84, 49, 110, .2)), color-stop(0.65, rgba(84, 49, 110, .2)), color-stop(0.65, transparent), to(transparent));
    background-image: 
		-moz-linear-gradient(-45deg, rgba(84, 49, 110, .2), rgba(84, 49, 110, .2) 15%, white 50%,  rgba(84, 49, 110, .2) 65%, white);
}  
.Red .slideshowControl  div {
    border: 1px solid #C74532;
    border-bottom: 5px solid #C74532; 
    
    background-color: #fff;
    background-image:
        -webkit-gradient(linear, 0% 0%, 100% 100%, from(rgba(199, 69, 50, .2)), color-stop(0.15, rgba(199, 69, 50, .2)), color-stop(0.15, transparent), color-stop(0.50, transparent), color-stop(0.50, rgba(199, 69, 50, .2)), color-stop(0.65, rgba(199, 69, 50, .2)), color-stop(0.65, transparent), to(transparent));
    background-image: 
		-moz-linear-gradient(-45deg, rgba(199, 69, 50, .2), rgba(199, 69, 50, .2) 15%, white 50%,  rgba(199, 69, 50, .2) 65%, white);
}  
.Orange .slideshowControl  div {
    border: 1px solid #DC6E23;
    border-bottom: 5px solid #DC6E23; 
    
    background-color: #fff;
    background-image:
        -webkit-gradient(linear, 0% 0%, 100% 100%, from(rgba(220, 110, 35, .2)), color-stop(0.15, rgba(220, 110, 35, .2)), color-stop(0.15, transparent), color-stop(0.50, transparent), color-stop(0.50, rgba(220, 110, 35, .2)), color-stop(0.65, rgba(220, 110, 35, .2)), color-stop(0.65, transparent), to(transparent));
    background-image: 
		-moz-linear-gradient(-45deg, rgba(220, 110, 35, .2), rgba(220, 110, 35, .2) 15%, white 50%,  rgba(220, 110, 35, .2) 65%, white);
}

/******* CTA Blocks ***********/
#block-featured-content-cta-join-conversation,
#block-featured-content-cta-add-resource {
    padding: 10px 15px;
    position: relative;
    margin: 25px 7px;
    border: 1px solid #9AB83F;
    border-bottom: solid #9AB83F 5px;
    border-right: solid #9AB83F 5px;
}


#block-featured-content-cta-join-conversation:before,
#block-featured-content-cta-add-resource:before {
  content: '';
  position: absolute;
  left: -8px;
  bottom: -7px;
  border: solid transparent 7px;
  border-bottom-color: #fff;
}

#block-featured-content-cta-join-conversation:after,
#block-featured-content-cta-add-resource:after {
  content: '';
  position: absolute;
  top: -2px;
  right: -14px;
  border: solid transparent 7px;
  border-top-color: #fff;
}

.cta-box {
    margin: 10px 0;
}
/*
.cta-button {
    margin-top: 30px;
}
.cta-button a{
    padding: 10px;
    border: 2px solid #9AB83F;
    color: #9AB83F;
    font-weight: bold;
    background-color: #2F2F2F;
    background-image: -webkit-repeating-linear-gradient(left top, #D5FF87 0px, white 4px);
    background-image: -moz-repeating-linear-gradient(left top, #D5FF87 0px, white 4px);
    background-image: -ms-repeating-linear-gradient(left top, #D5FF87 0px, white 4px);
    background-image: -o-repeating-linear-gradient(left top, #D5FF87 0px, white 4px);
    background-image: repeating-linear-gradient(left top, #D5FF87 0px, white 4px);

    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}
*/
/*****************End Featured Content Styling********************/



/****************************************************************
                Begin Homepage Style
****************************************************************/
.homepage-content-blocks {
    display: block;
    width: 100%;
}
.homepage-feature-block-container {
   width: 33%;
   float:left;
   padding: 0 10px;
   box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

.homepage-feature-content {
    border-right: 3px dotted #d2d2d2;
}

.homepage-feature-block-container-last {
    
    box-sizing: border-box;
     -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    width: 33%;
    float: left;
    
}
.homepage-feature-block-container-last .homepage-feature-content{
    border:none;
}

.homepage-feature-content-item {
    margin: 15px 0;
    padding: 0 5px;
}

.homepage-feature-title {
    text-transform:uppercase;
    font-size: 25px;
    font-weight: bold;
    margin: 15px 0;
}

.homepage-node-created {
    
    font-weight: bold;
    font-size: 15px; 
    width: 20%;
    margin-left: 0;
    float: left;
}

.homepage-feature-content-item .Blue {
    color: #105693;
}

.homepage-feature-content-item .Orange {
    color: #DC6E23;
}


.homepage-node-title {
    width: 75%;
    margin-left: 25%;
}

.homepage-static-content {
    margin: 50px 0;
}

.homepage-static-content .homepage-image {
    float:left;
    width: 25%;
}

.homepage-static-content .homepage-text {

    width: 70%;
    margin-left: 30%;
}

.homepage-static-content .homepage-static-header{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 15px 0;
}

.featured-content-text {
    width: 55%;
    margin: 0 3%;
    float:left;
    
    box-sizing: border-box;
     -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
.content-block-image {
    width: 35%; 
    margin-left: 62%;
    padding-top: 10px;
    
    box-sizing: border-box;
     -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

.content-block-title {
    float: left;
    margin: 30px 0 10px 0;
}

/****************End Homepage Styling********************/






/**************** Customized Section Theme Colors *****************************/
.Blue h1, .Blue h2, .Blue h3, .Blue span.site-name-net, .Blue span.tm, a.Blue {
    color: #105693;
}
.Orange h1, .Orange h2, .Orange h3, .Orange span.site-name-net, .Orange span.tm, a.Orange {
    color: #DC6E23;
}
.Red h1, .Red h2, .Red h3, .Red span.site-name-net, .Red span.tm, a.Red{
    color: #C74532;
}
.Purple h1, .Purple h2, .Purple h3, .Purple span.site-name-net, .Purple span.site-name-net, 
a.Purple {
    color: #54316E;    
}

/*.Blue #header {
    background-image:
		-webkit-gradient(linear, 0% 0%, 100% 100%,
                from(rgba(16, 86, 147, .2)),
                color-stop(0.15, rgba(16, 86, 147, .2)),
                color-stop(0.15, transparent),
                color-stop(0.50, transparent),
                color-stop(0.50, rgba(16, 86, 147, .2)),
                color-stop(0.65, rgba(16, 86, 147, .2)),
                color-stop(0.65, transparent), to(transparent));
    background-image: 
		-moz-linear-gradient(-45deg, rgba(16, 86, 147, .2),
                rgba(16, 86, 147, .2) 15%, white 50%,
                rgba(16, 86, 147, .2) 65%, white);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#105693', endColorstr='white'); /* IE6 & IE7 
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#105693', endColorstr='white')"; /* IE8+   
}*/
                
#block-an-navigation-left-nav ul.menu li a,
#block-an-navigation-left-nav ul.menu li a:hover,
#block-an-navigation-left-nav ul.menu li a:visited,
#block-an-navigation-left-nav ul.menu li a:active {
    text-decoration: none;
}
#block-an-navigation-left-nav ul.menu li a:hover,
#block-an-navigation-left-nav ul.menu li.active-trail a.active-trail {
    font-weight: bold;
}
/*
#block-an-navigation-left-nav ul.menu li.leaf a {
    font-size: 11px;
}*/

.Blue #block-an-navigation-left-nav ul.menu li a,
.Blue #block-an-navigation-left-nav ul.menu li a:hover,
.Blue #block-an-navigation-left-nav ul.menu li a:visited,
.Blue #block-an-navigation-left-nav ul.menu li a:active,
.Blue #block-an-navigation-left-nav ul.menu li.leaf a,
.Blue #block-an-navigation-left-nav ul.menu li.leaf a:hover,
.Blue #block-an-navigation-left-nav ul.menu li.leaf a:visited,
.Blue #block-an-navigation-left-nav ul.menu li.leaf a:active{
    color: #105693;
}
.Orange #block-an-navigation-left-nav ul.menu li a,
.Orange #block-an-navigation-left-nav ul.menu li a:hover,
.Orange #block-an-navigation-left-nav ul.menu li a:visited,
.Orange #block-an-navigation-left-nav ul.menu li a:active,
.Orange #block-an-navigation-left-nav ul.menu li.leaf a,
.Orange #block-an-navigation-left-nav ul.menu li.leaf a:hover,
.Orange #block-an-navigation-left-nav ul.menu li.leaf a:visited,
.Orange #block-an-navigation-left-nav ul.menu li.leaf a:active{
    color: #DC6E23;
}
.Red #block-an-navigation-left-nav ul.menu li a,
.Red #block-an-navigation-left-nav ul.menu li a:hover,
.Red #block-an-navigation-left-nav ul.menu li a:visited,
.Red #block-an-navigation-left-nav ul.menu li a:active,
.Red #block-an-navigation-left-nav ul.menu li.leaf a,
.Red #block-an-navigation-left-nav ul.menu li.leaf a:hover,
.Red #block-an-navigation-left-nav ul.menu li.leaf a:visited,
.Red #block-an-navigation-left-nav ul.menu li.leaf a:active{
    color: #C74532;
}
.Purple #block-an-navigation-left-nav ul.menu li a,
.Purple #block-an-navigation-left-nav ul.menu li a:hover,
.Purple #block-an-navigation-left-nav ul.menu li a:visited,
.Purple #block-an-navigation-left-nav ul.menu li a:active,
.Purple #block-an-navigation-left-nav ul.menu li.leaf a,
.Purple #block-an-navigation-left-nav ul.menu li.leaf a:hover,
.Purple #block-an-navigation-left-nav ul.menu li.leaf a:visited,
.Purple #block-an-navigation-left-nav ul.menu li.leaf a:active{
    color: #54316E;
}

#block-an-navigation-left-nav ul.menu li.active-trail ul.menu li.active-trail a.active,
#block-an-navigation-left-nav ul.menu li.active-trail ul.menu li.active-trail a.active:hover,
#block-an-navigation-left-nav ul.menu li.active-trail ul.menu li.active-trail a.active:visited,
#block-an-navigation-left-nav ul.menu li.active-trail ul.menu li.active-trail a.active:active,
#block-an-navigation-left-nav ul.menu li.leaf.active-trail a.active,
#block-an-navigation-left-nav ul.menu li.leaf.active-trail a.active:hover,
#block-an-navigation-left-nav ul.menu li.leaf.active-trail a.active:visited,
#block-an-navigation-left-nav ul.menu li.leaf.active-trail a.active:active,
#block-an-navigation-left-nav ul.menu li.active-trail a.active,
#block-an-navigation-left-nav ul.menu li.active-trail a.active:hover,
#block-an-navigation-left-nav ul.menu li.active-trail a.active:visited,
#block-an-navigation-left-nav ul.menu li.active-trail a.active:active,
.section-communities .Orange nav#block-an-navigation-left-nav ul.menu li a.active-trail {
    color: #fff;
}


.Blue nav#block-an-navigation-left-nav > ul > li {
    border-bottom: solid #105693 5px;
    border-right: solid #105693 5px;
    border-bottom: 5px solid  rgba(16,86,147, .7);
    border-right: 5px solid rgba(16,86,147, .7) ;
}
.Orange nav#block-an-navigation-left-nav > ul > li {
    border-bottom: solid #DC6E23 5px;
    border-right: solid #DC6E23 5px;
    border-bottom: 5px solid  rgba(220,110,35, .7);
    border-right: 5px solid rgba(220,110,35, .7) ;
}
.Red nav#block-an-navigation-left-nav > ul > li {
    border-bottom: solid #C74532 5px;
    border-right: solid #C74532 5px;
    border-bottom: 5px solid  rgba(199,69,50, .7);
    border-right: 5px solid rgba(199,69,50, .7) ;
}
.Purple nav#block-an-navigation-left-nav > ul > li {
    border-bottom: solid #54316E 5px;
    border-right: solid #54316E 5px;
    border-bottom: 5px solid  rgba(84,49,110, .7);
    border-right: 5px solid rgba(84,49,110, .7);
}


.Blue nav#block-an-navigation-left-nav > ul > li.active-trail {
    border-bottom: 10px solid #105693;
    border-right: 10px solid #105693;
    border-bottom: 10px solid  rgba(16,86,147, .7);
    border-right: 10px solid rgba(16,86,147, .7);
}
.Orange nav#block-an-navigation-left-nav > ul > li.active-trail {
    border-bottom: 10px solid #DC6E23;
    border-right: 10px solid #DC6E23;
    border-bottom: 10px solid  rgba(220,110,35, .7);
    border-right: 10px solid rgba(220,110,35, .7);
}
.Red nav#block-an-navigation-left-nav > ul > li.active-trail {
    border-bottom: 10px solid #C74532;
    border-right: 10px solid #C74532;
    border-bottom: 10px solid  rgba(199,69,50, .7);
    border-right: 10px solid rgba(199,69,50, .7);
}
.Purple nav#block-an-navigation-left-nav > ul > li.active-trail {
    border-bottom: 10px solid #54316E;
    border-right: 10px solid #54316E;
    border-bottom: 10px solid  rgba(84,49,110, .7);
    border-right: 10px solid rgba(84,49,110, .7);
}

.Blue nav#block-an-navigation-left-nav ul li.first a.active-trail,
.Blue nav#block-an-navigation-left-nav ul li a.active-trail,
.Blue nav#block-an-navigation-left-nav ul li a  {
    border: 1px solid rgb(16,86,147);
    border: 1px solid rgba(16,86,147, .7);
    border-bottom:none;
}
.Orange nav#block-an-navigation-left-nav ul li.first a.active-trail,
.Orange nav#block-an-navigation-left-nav ul li a.active-trail,
.Orange nav#block-an-navigation-left-nav ul li a  {
    border: 1px solid rgb(220,110,35);
    border: 1px solid rgba(220,110,35, .7);
    border-bottom:none;
}
.Red nav#block-an-navigation-left-nav ul li.first a.active-trail,
.Red nav#block-an-navigation-left-nav ul li a.active-trail,
.Red nav#block-an-navigation-left-nav ul li a  {
    border: 1px solid rgb(199,69,50);
    border: 1px solid rgba(199,69,50, .7);
    border-bottom: none;
}
.Purple nav#block-an-navigation-left-nav ul li.first a.active-trail,
.Purple nav#block-an-navigation-left-nav ul li a.active-trail,
.Purple nav#block-an-navigation-left-nav ul li a  {
    border: 1px solid rgb(84,49,110);
    border: 1px solid rgba(84,49,110, .7);
    border-bottom:none;
}

.Blue nav#block-an-navigation-left-nav li a.active {
    background-color: rgb(16,86,147);
    background-color: rgba(16,86,147, 1);
}
.Orange nav#block-an-navigation-left-nav li a.active,
.section-communities .Orange nav#block-an-navigation-left-nav li a.active-trail{
    background-color: rgb(220,110,35);
    background-color: rgba(220,110,35, 1);
}
.Red nav#block-an-navigation-left-nav li a.active {
    background-color: rgb(199,69,50);
    background-color: rgba(199,69,50, 1);
}
.Purple nav#block-an-navigation-left-nav li a.active {
    background-color: rgb(84,49,110);
    background-color: rgba(84,49,110, 1);
}

/*
.Blue nav#main-menu ul li a.active-trail {
    border-top: 1px solid rgb(16, 86, 147);
    border-right: 1px solid rgb(16, 86, 147);
    border-left: 1px solid rgb(16, 86, 147);
    border-bottom: none;    
    border-top: 1px solid rgba(16, 86, 147, 1);
    border-right: 1px solid rgba(16, 86, 147, 1);
    border-left: 1px solid rgba(16, 86, 147, 1);
    border-bottom: none;
}
.Orange nav#main-menu ul li a.active-trail {
    border-top: 1px solid rgb(220, 110, 35);
    border-right: 1px solid rgb(220, 110, 35);
    border-left: 1px solid rgb(220, 110, 35);
    border-bottom: none;    
    border-top: 1px solid rgba(220, 110, 35, 1);
    border-right: 1px solid rgba(220, 110, 35, 1);
    border-left: 1px solid rgba(220, 110, 35, 1);
    border-bottom: none;
}
.Red nav#main-menu ul li a.active-trail {
    border-top: 1px solid rgb(199, 69, 50);
    border-right: 1px solid rgb(199, 69, 50);
    border-left: 1px solid rgb(199, 69, 50);
    border-bottom: none;    
    border-top: 1px solid rgba(199, 69, 50, 1);
    border-right: 1px solid rgba(199, 69, 50, 1);
    border-left: 1px solid rgba(199, 69, 50, 1);
    border-bottom: none;
}
.Purple nav#main-menu ul li a.active-trail {
    border-top: 1px solid rgb(154, 184, 63);
    border-right: 1px solid rgb(154, 184, 63);
    border-left: 1px solid rgb(154, 184, 63);
    border-bottom: none;    
    border-top: 1px solid rgba(154, 184, 63, 1);
    border-right: 1px solid rgba(154, 184, 63, 1);
    border-left: 1px solid rgba(154, 184, 63, 1);
    border-bottom: none;
}*/

.lifecycle-stage-body{
    line-height: 30px;
}

.item-list .pager {
    text-align: right;
}

#resource-links li {
    padding-top: 10px;
}

/*******************Community Styling***************************/

h2.comment-form {
    float: left;
    border: none;
    margin-right: 10px;
}

.comment-user-info {
    padding-top: 5px;
    font-style: italic;
}

.convo-posted-date {
    float:right;
    font-size: 13px;
    text-transform:none;
}
.convo-post .user-name{
    text-transform: uppercase;
}

.convo-post{
    position: relative;
}

.convo-post .convo-user-image {
    width: 20%;
    float:left;
    vertical-align: bottom;
    position:absolute;
    bottom: 0;
}

.convo-post  .convo-body {
    width: 80%;
    margin-left: 20%;
    padding: 15px;
    overflow:visible;
    margin-bottom: 20px;
    position: relative;
    border: 2px solid #DC6E23;
    border-bottom: 6px solid #DC6E23;
}
.convo-post  .convo-body:before, .convo-body:after {
     border-color: transparent transparent white transparent;
    border-style: solid;
    border-width: 20px 0px 32px 40px;
    content: '';
    display: block;
    height: 0;
    width: 0;
    line-height: 0;
    position: absolute;
    z-index: 5;
    bottom: -0px;
    left: -40px;
}
.convo-post  .convo-body:after {
    border-color: transparent transparent #DC6E23 transparent;
    border-style: solid;
    border-width: 20px 0px 40px 50px;
    content: '';
    z-index: 4;
    bottom: -6px;
    left: -50px;
}

/******************End Community Styling*************************/