/* 
    Document   : AccrualNet
    Created on : May 22, 2012, 2:35:54 PM
    Author     : doylejd
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
article {
    margin-bottom: 30px;
}
#content{
    margin-bottom: 30px;
}
.form-textarea-wrapper textarea,
.form-textarea-wrapper .grippie{
    width: 90%;
    
}
.form-item, .form-actions {
    margin: 0;
}
body{
    font-size: 13px;
}

.pager-item a:hover {
    font-weight: bold;
}

h1#site-name {
    border: none;
    padding-left: 20px;
}
h1#site-name .site-name-accrual {
    font-size: 55px;
    font-weight: bolder;
    text-transform:none;
    vertical-align:bottom;
    color: #54316E;
}
h1#site-name .site-name-net {
    font-size: 55px;
    font-weight: bolder;
    text-transform:none;
    vertical-align:bottom;
    color: #9AB83F;
}
h1#site-name .tm {
    font-size: 15px;
    font-weight: bolder;
    vertical-align: super;
    color: #9AB83F;
}

span.tm {
    vertical-align: super;
}

h2#site-slogan {
    font-size: 14px;
    font-weight: bold;
    text-transform: none;
    border: none;
    color: #105693;
    padding-left: 20px;
}

#page-header .header-content {
    overflow:hidden;
    position:relative;

}

#page-header .header-content hgroup{
    position:absolute;
    bottom: 20px;
    width: 60%;
}
.header-content ul{
    margin: 0;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}


h1,
h1.title{
    font-size: 25px;
    text-transform: uppercase;
    border-bottom: 3px dotted #d2d2d2;
    margin: 15px 0 5px 0;
}

h2,
h2.title {
    font-size: 17px;
    font-weight: 900;
    text-transform: uppercase;
    border-bottom: 3px dotted #d2d2d2;
}

h2.block-title {
    border:none;
    color: #54316E;
}

.convo-title h2 {
    overflow:hidden;
    position:relative;
}

h1 span {
    font-size: 25px;
    text-transform: uppercase;
    margin: 15px 0;
}

#page-options {
    clear: both;
    overflow: hidden;
}

.breadcrumb {
    float:left;
    padding-left: 20px;
}

.add-this {
    float:right;
    font-size: 10px;
    text-transform:uppercase;

}
.add-this a {
    padding: 0 10px;
    color: #2d2d2d;
    text-decoration: none;
    width: 120px;
    float: left;
}

.add-this a:hover {
    text-decoration: underline;
    font-weight: bold;
}
.custom-images {
    width: 100%;
}
.add-this img {
    margin-right: 5px;
}

.add-this span{
    display:inline-block;
    margin-top: 5px;
    margin-right: 4px;
}


/*************************************************************
            Landing Page Styles
*************************************************************/
.landing-page-header {

}

.landing-page-image {
    float:left;
    width: 55%;
    margin-bottom: 15px;
}
.landing-page-text-no-image {
    width: 100%;
    margin-bottom: 10px;
}
.landing-page-text {
    width: 40%;
    margin-left: 60%;
}

/*Must clear both on this div instead of header div because image is floated*/
#literature-landing-page #resources-list,
#protocol-landing-page .lifecycle-stages{
    clear:both;
}

/*Must clear both on this div instead of header div because image is floated*/
#protocol-landing-page .lifecycle-stages {
    clear:both;
}

#protocol-landing-page .lifecycle-stage {
    border-bottom: 3px dotted #d2d2d2;
}

#protocol-landing-page .lifecycle-stage h3 a,
.lifecycle-strategy-teaser h3 a{
    font-weight: normal;
}

#protocol-landing-page .lifecycle-stage h3 a:hover,
.lifecycle-strategy-teaser h3 a:hover{
    font-weight: bold;
}

#protocol-landing-page  .last {
    border-bottom: none;
}


/****************************End LAnding PAge STyles***********/

#title-results-number { 
    color: #2D2D2D; 
    opacity: 0.75;
    filter:alpha(opacity=75);
}


#ncibanner {
	background-color: #fff;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

#ncibanner ul {
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	max-width: 1150px;
}
#ncibanner ul li {
	padding-bottom: 0;
}
#ncibanner ul li.nciLogo {
	float: left;
        padding-left: 20px;
}
#ncibanner ul li.nciLogo a {
	background-repeat: no-repeat;
	display: block;
	height: 39px;
	text-indent: -9999px;
	width: 263px;
}
#ncibanner ul li.nihText {
	float: right;
}
#ncibanner ul li.nihText a {
	background-repeat: no-repeat;
	display: block;
	height: 39px;
	text-indent: -9999px;
	width: 208px;
}
#ncibanner ul  li.nciURL {
	float: right;
}
#ncibanner ul li.nciURL a {
	background-repeat: no-repeat;
	display: block;
	height: 39px;
	text-indent: -9999px;
	width: 99px;
}



/**
			White Banner
		**/
#ncibanner {
	background-color: #fff;
	color: #000;
        border-bottom: 1px solid #9AB83F;
}
#ncibanner ul li.nciLogo a {
	background-image: url('../images/global/white-ncilogo.gif');
}
#ncibanner ul li.nihText a {
	background-image: url('../images/global/white-nihtext.gif');
}
#ncibanner ul li.nciURL a {
	background-image: url('../images/global/white-nciurl.gif');
}


#footer {
    background: #272828;
    font-size: 13px;
    font-weight: normal;
    line-height: 20px;
    margin: 0 auto;
    text-align: center;
    padding:0;
}
#footer a:hover {
    font-weight: bold;
}

.footer-push {
    height: 112px;
}
#nci-footer {
    padding:0;
    margin: 0 auto;
    text-align: center;
    max-width: 1200px;

}


#nci-footer a {
	color: #fff;
}
#nci-footer a {
	color: #fff;
}
#nci-footer a:hover {
	color: #fff;
}
#nci-footer .footer-links ul {
	text-align: center;
	margin: 0 auto;
	padding: 22px 0 0 0;
}
#nci-footer .footer-links li{
	display: inline;
	border-right: 1px solid #fff;
	padding: 0 5px;
}

#nci-footer .footer-images li {
    display: inline;
    padding: 0 25px;
}

#nci-footer .footer-links li.last {
	border: none;
}
#nci-footer img {
	border: 0;
	padding-top: 12px;
	margin: 0 auto;
}                        

#nci-footer .footer-text {
    color: #fff;
    font-style: italic;
    margin: 15px auto 0px;
}

/**************************************
	   Global Styles
*************************************/


input, 
input[type="password"], 
input[type="search"], 
isindex {
	background-color: white;
	border: 1px solid #9AB83F;
	padding: 5px;
}


#filter-results input[type="checkbox"]{
     display: none;
}

.checkbox {
    display: inline-block;
    width: 20px;
    height: 15px;
    padding:10px;
    margin:5px;
    cursor:pointer;
    color:#ffffff;
    float: left;
}

.checked{
}
.unchecked{
}

.form-type-textfield input {
	width: 200px;
}


html, body {
    height: 100%;

}
#page {
    height:auto !important;
    margin:0px auto -112px;  /*this value is the footer height)*/
    min-height:100%;

}


#main {
    background: white;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;



}

#main-wrapper {

    border-top: 1px solid rgb(154, 184, 63);
    border-top: 1px solid rgba(154, 184, 63, 1);
    position:relative;
    top: -2px;
}

#header {
    background-color: white ;

background-image: url('../images/header.png');
background-repeat: repeat;
}

header#page-header {
    max-width: 1150px;
    margin: 0 auto;
}




.field-type-taxonomy-term-reference {
	float:left;
	padding-right: 10px;

}

#site-wide-search-box {
    clear:both;
    width: 100%;
    margin: 30px auto;
}

#site-wide-search-box form {
    float:right;
    margin-bottom: 30px;
}

#page-options {
    padding-left: 10px;
    margin: 5px 0 10px 0;
}

/** Added by Lauren **/
.form-type-checkbox label,
.form-type-checkbox label{
    margin-left: 25px;
    color: black;
    font-weight: normal;
    font-size: 13px;
    font-weight: bold;
}

.unchecked {
    background-image: url('../images/global/checkbox_unchecked.jpg'); 
    background-repeat:no-repeat;
    background-position:left center; 
}
.checked {
    background-image: url('../images/global/checkbox_checked.jpg'); 
    background-repeat:no-repeat;
    background-position:left center; 
}

/** Added by Dan **/

/** knock the site into Arial */
html, button, input, select, textarea {
    font-family: Arial, sans-serif;
}

.search-form div .form-wrapper .form-submit{
	margin-left: 30px;
}

.search-title{
	clear: both;
	margin-bottom: 0px;
}

hr.search-divider{
	margin: 1.5em 0 1em;
}

.search-count{
	width: 50%;
	float: left;
	font-weight: bold;
	margin-bottom: 3em;
}

.search-pager{
	float: right;
}

li.search-result{
	clear: both;
}

h2.element-invisible{
	margin: 0px;
	line-height: normal;
}

.search-pager .item-list .pager{
	margin: 0px;
}

body  .search-form,
body  .search-title,
body .search-pager,
body .search-count,
body .search-results{
	color: #2d2d2d;
}

body a:visited {
	color: #626262;
}



/********************Lifecycle Styling***************************/

.lifecycle-stage-image {
    float:left;
    width: 55%;
    text-align:left;
}
.lifecycle-stage-body {
    width: 40%;
    margin-left: 60%;
}

.lifecycle-stage-content{
    clear:both;
}

.lifecycle-stage-strategy {
    border-bottom: 3px dotted #d2d2d2;
    clear:both;
    min-height: 110px;
}
.lifecycle-strategy-icon {
    float:left;
    width: 10%;
    text-align:center;
}
.lifecycle-strategy-icon img {

}
.lifecycle-strategy-teaser {
    width: 90%;
    margin-left: 10%;
}

.lifecycle-stage-strategies .last,
.lifecycle-strategy-body .last{
    border-bottom: none;
}

.lifecycle-activity {
    padding-bottom: 20px;
    border-bottom: 3px dotted #d2d2d2;
    clear:both;
}
/********************End Lifecycle Styling***********************/


/*****************Featured Content Styling**********************/
.featured-content-title {
    margin: 30px 0;
}

.feature-link {
    
    margin-top: 30px;
}
.feature-header{
    font-size:35px;
    text-transform: uppercase;
    background-color: #9AB83F;
    color: #fff;
    padding: 10px 20px;

}

.Blue .feature-header {
    background-color: #105693;
}
.Purple .feature-header {
    background-color: #54316E;
}
.Red .feature-header {
    background-color: #C74532;
}
.Orange .feature-header {
    background-color: #BF5500;
}



.featured-content-section-left,
.featured-content-section-right{
    float:left;
    width:45%;
    padding-left: 2%;
    padding-right: 2%;
}

.listing_image {
    width: 55%;
}

.featured-content-picture {

    width:35%;
    margin-left: 62%;
    margin-top: 30px;
    padding-left: 2%;
    padding-right: 2%;
    text-align:center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
.featured-content-section-right{
    border-left: 3px dotted #D2D2D2;
    margin-left: -3px;
}

.featured-content-section-left {
}

.featured-content-block .listing_image {
    border-right: none;
}

.featured-content-block {
    list-style: none;
    overflow:hidden;
}

.featured-content-block div.resource-output {
    min-height: 10px;
}

.communities-related .featured-content-carousel{
    margin-top: 30px;
}

.featured-content-carousel {
    position: relative;
    border-bottom: solid #9AB83F 7px;
    border-right: solid #9AB83F 7px;
}

.Purple .featured-content-carousel {
    border-bottom: solid #54316E 7px;
    border-right: solid #54316E 7px;
}
.Red .featured-content-carousel {
    border-bottom: solid #C74532 7px;
    border-right: solid #C74532 7px;
}
.Blue .featured-content-carousel {
    border-bottom: solid #105693 7px;
    border-right: solid #105693 7px;
}
.Orange .featured-content-carousel {
    border-bottom: solid #BF5500 7px;
    border-right: solid #BF5500 7px;
}

.featured-content-carousel:before {
	content: '';
	position: absolute;
	left: -7px;
	bottom: -7px;
	border: solid transparent 7px;
	-moz-border-start-style: inset;
	border-bottom-color: #fff;
}

.featured-content-carousel:after {
	content: '';
	position: absolute;
	top: 0px;
	right: -14px;
	border: solid transparent 7px;
	-moz-border-start-style: outset;
	border-top-color: #fff;
}


.featured-content-carousel  li {
    list-style:none;
}

.featured-carousel-slides {
    border: 3px solid #9AB83F;
}

.not-front .featured-content-carousel{
    margin-top: 20px;
    
}

.Blue .featured-carousel-slides {
    border: 3px solid #105693;
}

.Red .featured-carousel-slides {
    border: 3px solid #C74532;
}

.Purple .featured-carousel-slides {
    border: 3px solid #54316E;
}

.Orange .featured-carousel-slides {
    border: 3px solid #BF5500;
}
.front .featured-carousel-slides  .slide {
    min-height: 380px;
    max-height: 380px;
}

.featured-carousel-slides  .slide {

    min-height: 480px;
    max-height: 480px;
}

.slideshowControls{
    display:table;
    width: 100%;
    table-layout: fixed;
    clear:both;
    margin: 15px 0;

}
.slideshowControl {
    display: table-cell;

    text-align:center;
    max-width: 50%;
    margin: 30px;

}
.slideshowControl  div{
    cursor: pointer;
    font-weight: 900;
    font-size: 12px;
    margin: 0px 20px;
    padding: 10px 20px;


    border: 1px solid #9AB83F;
    border-bottom: 5px solid #9AB83F; 

    background-color: #fff;
    background-image:
        -webkit-gradient(linear, 0% 0%, 100% 100%, from(rgba(154, 184, 63, .1)), color-stop(0.15, rgba(154, 184, 63, .1)), color-stop(0.15, transparent), color-stop(0.50, transparent), color-stop(0.50, rgba(154, 184, 63, .1)), color-stop(0.65, rgba(154, 184, 63, .1)), color-stop(0.65, transparent), to(transparent));
    background-image: 
		-moz-linear-gradient(-45deg, rgba(154, 184, 63, .1), rgba(154, 184, 63, .1) 15%, white 50%,  rgba(154, 184, 63, .1) 65%, white);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgb(154, 184, 63)', endColorstr='white'); /* IE6 & IE7 */  
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='rgb(154, 184, 63)', endColorstr='white')"; /* IE8+ */  
    background-size: 10px 10px;
    -webkit-background-size: 10px 10px;
    -moz-background-size: 10px 10px;



    opacity: 0.4;
    filter:alpha(opacity=40);
}



.slideshowControls .selected div,
.slideshowControl  div:hover{
    opacity: 1;
    filter:alpha(opacity=100);
}


.Blue .slideshowControl  div {
    color: #105693;

    border: 1px solid #105693;
    border-bottom: 5px solid #105693; 


    background-color: #fff;
    background-image:
        -webkit-gradient(linear, 0% 0%, 100% 100%, from(rgba(16, 86, 147, .1)), color-stop(0.15, rgba(16, 86, 147, .1)), color-stop(0.15, transparent), color-stop(0.50, transparent), color-stop(0.50, rgba(16, 86, 147, .1)), color-stop(0.65, rgba(16, 86, 147, .1)), color-stop(0.65, transparent), to(transparent));
    background-image: 
		-moz-linear-gradient(-45deg, rgba(16, 86, 147, .1), rgba(16, 86, 147, .1) 15%, white 50%,  rgba(16, 86, 147, .1) 65%, white);
}
.Purple .slideshowControl  div {
    color: #54316E;

    border: 1px solid #54316E;
    border-bottom: 5px solid #54316E; 

    background-color: #fff;
    background-image:
        -webkit-gradient(linear, 0% 0%, 100% 100%, from(rgba(84, 49, 110, .1)), color-stop(0.15, rgba(84, 49, 110, .1)), color-stop(0.15, transparent), color-stop(0.50, transparent), color-stop(0.50, rgba(84, 49, 110, .1)), color-stop(0.65, rgba(84, 49, 110, .1)), color-stop(0.65, transparent), to(transparent));
    background-image: 
		-moz-linear-gradient(-45deg, rgba(84, 49, 110, .1), rgba(84, 49, 110, .1) 15%, white 50%,  rgba(84, 49, 110, .1) 65%, white);
}  
.Red .slideshowControl  div {
    color: #C74532;

    border: 1px solid #C74532;
    border-bottom: 5px solid #C74532; 

    background-color: #fff;
    background-image:
        -webkit-gradient(linear, 0% 0%, 100% 100%, from(rgba(199, 69, 50, .1)), color-stop(0.15, rgba(199, 69, 50, .1)), color-stop(0.15, transparent), color-stop(0.50, transparent), color-stop(0.50, rgba(199, 69, 50, .1)), color-stop(0.65, rgba(199, 69, 50, .1)), color-stop(0.65, transparent), to(transparent));
    background-image: 
		-moz-linear-gradient(-45deg, rgba(199, 69, 50, .1), rgba(199, 69, 50, .1) 15%, white 50%,  rgba(199, 69, 50, .2) 65%, white);
}  
.Orange .slideshowControl  div {
    color: #BF5500;


    border: 1px solid #BF5500;
    border-bottom: 5px solid #BF5500; 

    background-color: #fff;
    background-image:
        -webkit-gradient(linear, 0% 0%, 100% 100%, from(rgba(220, 110, 35, .1)), color-stop(0.15, rgba(220, 110, 35, .1)), color-stop(0.15, transparent), color-stop(0.50, transparent), color-stop(0.50, rgba(220, 110, 35, .1)), color-stop(0.65, rgba(220, 110, 35, .1)), color-stop(0.65, transparent), to(transparent));
    background-image: 
		-moz-linear-gradient(-45deg, rgba(220, 110, 35, .1), rgba(220, 110, 35, .1) 15%, white 50%,  rgba(220, 110, 35, .2) 65%, white);
}

/******* CTA Blocks ***********/
#block-featured-content-cta-join-conversation,
#block-featured-content-cta-add-resource {
    padding: 10px 15px;
    position: relative;
    margin: 25px auto;
    border: 1px solid #9AB83F;
    border-bottom: solid #9AB83F 5px;
    border-right: solid #9AB83F 5px;
    width: 80%;

}


#block-featured-content-cta-join-conversation:before,
#block-featured-content-cta-add-resource:before {
	content: '';
	position: absolute;
	left: -8px;
	bottom: -7px;
	border: solid transparent 7px;
	-moz-border-start-style: inset;
	border-bottom-color: #fff;
}

#block-featured-content-cta-join-conversation:after,
#block-featured-content-cta-add-resource:after {
	content: '';
	position: absolute;
	top: -2px;
	right: -14px;
	border: solid transparent 7px;
	-moz-border-start-style: outset;
	border-top-color: #fff;
}

.cta-box {
    margin: 10px 0;
}



.featured-content-block .conversation-output {
    position: relative;
    clear: both;
    padding: 15px 0px;
}

.featured-content-block .conversation-output .node-title a{
    color: #BF5500;
    font-size: 17px;
}


/*
.cta-button {
    margin-top: 30px;
}
.cta-button a{
    padding: 10px;
    border: 2px solid #9AB83F;
    color: #9AB83F;
    font-weight: bold;
    background-color: #2F2F2F;
    background-image: -webkit-repeating-linear-gradient(left top, #D5FF87 0px, white 4px);
    background-image: -moz-repeating-linear-gradient(left top, #D5FF87 0px, white 4px);
    background-image: -ms-repeating-linear-gradient(left top, #D5FF87 0px, white 4px);
    background-image: -o-repeating-linear-gradient(left top, #D5FF87 0px, white 4px);
    background-image: repeating-linear-gradient(left top, #D5FF87 0px, white 4px);

    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}
*/
/*****************End Featured Content Styling********************/



/****************************************************************
                Begin Homepage Style
****************************************************************/
.homepage-content-blocks {
    display: block;
    width: 100%;
	overflow:hidden;

}
.homepage-feature-block-container {
	width: 33%;
	float:left;
	
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

.homepage-feature-content {
    border-right: 3px dotted #d2d2d2;
    padding: 10px;
    min-height: 450px;
}

.homepage-feature-block-container-last {

    box-sizing: border-box;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    width: 33%;
    float: left;

}
.homepage-feature-block-container-last .homepage-feature-content{
    border:none;

}

.homepage-feature-content-item {
    margin: 15px 0;
    
}
.homepage-content-blocks {
    margin-bottom: 20px;
}
.homepage-feature-title {
    text-transform:uppercase;
    font-size: 25px;
    font-weight: bold;
    margin: 15px 0;
    padding-left: 10px;
}

.homepage-node-created {

    font-weight: bold;
    font-size: 15px; 
    width: 20%;
    margin-left: 0;
    float: left;
}

.homepage-feature-content-item .Blue {
    color: #105693;
}

.homepage-feature-content-item .Orange {
    color: #BF5500;
}


.homepage-node-title {
    width: 75%;
    margin-left: 25%;
}

.homepage-static-content {
    margin: 50px 0;
}

.homepage-static-content .homepage-image {
    float:left;
    width: 25%;
    padding-left: 10px;
}

.homepage-static-content .homepage-text {

    width: 70%;
    margin-left: 30%;
}

.homepage-static-content .homepage-static-header{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 15px 0;
}

.featured-content-text {
    width: 55%;
    margin: 0 2%;
    float:left;

    box-sizing: border-box;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
.content-block-image {
    width: 30%; 
    margin-left: 65%;
    margin-top: 15px;

    box-sizing: border-box;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

.content-block-title,
.featured-content-title {
    float: left;
    margin: 30px 0 10px 0;
    width: 90%;
}

.homepage-carousel .content-block-title{
    float: left;
    margin: 15px 0 10px 0;
    width: 60%;
}

.feature-header {
    line-height: 40px;
    display:block;
}
/****************End Homepage Styling********************/






/**************** Customized Section Theme Colors *****************************/
.Blue h1, .Blue h2, .Blue h3, .Blue h3 a, .Blue span.site-name-net, .Blue span.tm, a.Blue {
    color: #105693;
}
.Orange h1, .Orange h2, .Orange h3, .Orange h3 a, .Orange span.site-name-net, .Orange span.tm, a.Orange, .Orange .file a {
    color: #BF5500;
}
.Red h1, .Red h2, .Red h3, .Red h3 a, .Red span.site-name-net, .Red span.tm, a.Red{
    color: #C74532;
}
.Purple h1, .Purple h2, .Purple h3, .Purple h3 a, .Purple span.site-name-net, .Purple span.site-name-net, 
a.Purple {
    color: #54316E;    
}

/*.Blue #header {
    background-image:
		-webkit-gradient(linear, 0% 0%, 100% 100%,
                from(rgba(16, 86, 147, .2)),
                color-stop(0.15, rgba(16, 86, 147, .2)),
                color-stop(0.15, transparent),
                color-stop(0.50, transparent),
                color-stop(0.50, rgba(16, 86, 147, .2)),
                color-stop(0.65, rgba(16, 86, 147, .2)),
                color-stop(0.65, transparent), to(transparent));
    background-image: 
		-moz-linear-gradient(-45deg, rgba(16, 86, 147, .2),
                rgba(16, 86, 147, .2) 15%, white 50%,
                rgba(16, 86, 147, .2) 65%, white);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#105693', endColorstr='white'); /* IE6 & IE7 
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#105693', endColorstr='white')"; /* IE8+   
}*/

#block-an-navigation-left-nav ul.menu li a,
#block-an-navigation-left-nav ul.menu li a:hover,
#block-an-navigation-left-nav ul.menu li a:visited,
#block-an-navigation-left-nav ul.menu li a:active {
    text-decoration: none;
}
#block-an-navigation-left-nav ul.menu li a:hover,
#block-an-navigation-left-nav ul.menu li.active-trail a.active-trail {
        opacity: 1.0;
    filter:alpha(opacity=100);
}
/*
#block-an-navigation-left-nav ul.menu li.leaf a {
    font-size: 11px;
}*/

.Blue #block-an-navigation-left-nav ul.menu li a,
.Blue #block-an-navigation-left-nav ul.menu li a:visited,
.Blue #block-an-navigation-left-nav ul.menu li.leaf a,
.Blue #block-an-navigation-left-nav ul.menu li.leaf a:visited {
    color: #105693;
}
.Blue #block-an-navigation-left-nav ul.menu li a:hover,
.Blue #block-an-navigation-left-nav ul.menu li.leaf a:hover,
.Blue #block-an-navigation-left-nav ul.menu li.leaf a:active, 
.Blue #block-an-navigation-left-nav ul.menu li a:active {
    background-color: #105693;
    color: white;
}

.Orange #block-an-navigation-left-nav ul.menu li a,
.Orange #block-an-navigation-left-nav ul.menu li a:visited,
.Orange #block-an-navigation-left-nav ul.menu li.leaf a,
.Orange #block-an-navigation-left-nav ul.menu li.leaf a:visited {
    color: #BF5500;
}

.Orange #block-an-navigation-left-nav ul.menu li a:hover,
.Orange #block-an-navigation-left-nav ul.menu li.leaf a:hover,
.Orange #block-an-navigation-left-nav ul.menu li.leaf a:active, 
.Orange #block-an-navigation-left-nav ul.menu li a:active {
    background-color: #BF5500;
    color: white;
}

.Red #block-an-navigation-left-nav ul.menu li a,
.Red #block-an-navigation-left-nav ul.menu li a:visited,
.Red #block-an-navigation-left-nav ul.menu li.leaf a,
.Red #block-an-navigation-left-nav ul.menu li.leaf a:visited {
    color: #C74532;
}
.Red #block-an-navigation-left-nav ul.menu li a:hover,
.Red #block-an-navigation-left-nav ul.menu li.leaf a:hover,
.Red #block-an-navigation-left-nav ul.menu li.leaf a:active, 
.Red #block-an-navigation-left-nav ul.menu li a:active {
    background-color: #C74532;
    color: white;
}


.Purple #block-an-navigation-left-nav ul.menu li a,
.Purple #block-an-navigation-left-nav ul.menu li a:hover,
.Purple #block-an-navigation-left-nav ul.menu li a:visited,
.Purple #block-an-navigation-left-nav ul.menu li a:active,
.Purple #block-an-navigation-left-nav ul.menu li.leaf a,
.Purple #block-an-navigation-left-nav ul.menu li.leaf a:hover,
.Purple #block-an-navigation-left-nav ul.menu li.leaf a:visited,
.Purple #block-an-navigation-left-nav ul.menu li.leaf a:active{
    color: #54316E;
}
.Purple #block-an-navigation-left-nav ul.menu li a:hover,
.Purple #block-an-navigation-left-nav ul.menu li.leaf a:hover,
.Purple #block-an-navigation-left-nav ul.menu li.leaf a:active, 
.Purple #block-an-navigation-left-nav ul.menu li a:active {
    background-color: #54316E;
    color: white;
}


#block-an-navigation-left-nav ul.menu li.active-trail ul.menu li.active-trail a.active,
#block-an-navigation-left-nav ul.menu li.active-trail ul.menu li.active-trail a.active:hover,
#block-an-navigation-left-nav ul.menu li.active-trail ul.menu li.active-trail a.active:visited,
#block-an-navigation-left-nav ul.menu li.active-trail ul.menu li.active-trail a.active:active,
#block-an-navigation-left-nav ul.menu li.leaf.active-trail a.active,
#block-an-navigation-left-nav ul.menu li.leaf.active-trail a.active:hover,
#block-an-navigation-left-nav ul.menu li.leaf.active-trail a.active:visited,
#block-an-navigation-left-nav ul.menu li.leaf.active-trail a.active:active,
#block-an-navigation-left-nav ul.menu li.active-trail a.active,
#block-an-navigation-left-nav ul.menu li.active-trail a.active:hover,
#block-an-navigation-left-nav ul.menu li.active-trail a.active:visited,
#block-an-navigation-left-nav ul.menu li.active-trail a.active:active {
    color: #fff;
}


.Blue nav#block-an-navigation-left-nav > ul > li {
    border-bottom: solid #5788B3 5px;
    border-right: solid #5788B3 5px;
    border-bottom: 5px solid  rgba(16,86,147, .7);
    border-right: 5px solid rgba(16,86,147, .7) ;
}
.Orange nav#block-an-navigation-left-nav > ul > li {
    border-bottom: solid #E79964 5px;
    border-right: solid #E79964 5px;
    border-bottom: 5px solid  rgba(220,110,35, .7);
    border-right: 5px solid rgba(220,110,35, .7) ;
}
.Red nav#block-an-navigation-left-nav > ul > li {
    border-bottom: solid #D87C6F 5px;
    border-right: solid #D87C6F 5px;
    border-bottom: 5px solid  rgba(199,69,50, .7);
    border-right: 5px solid rgba(199,69,50, .7) ;
}
.Purple nav#block-an-navigation-left-nav > ul > li {
    border-bottom: solid #876E99 5px;
    border-right: solid #876E99 5px;
    border-bottom: 5px solid  rgba(84,49,110, .7);
    border-right: 5px solid rgba(84,49,110, .7);
}


.Blue nav#block-an-navigation-left-nav > ul > li.active-trail {
    border-bottom: 10px solid #5788B3;
    border-right: 10px solid #5788B3;
    border-bottom: 10px solid  rgba(16,86,147, .7);
    border-right: 10px solid rgba(16,86,147, .7);
}
.Orange nav#block-an-navigation-left-nav > ul > li.active-trail {
    border-bottom: 10px solid #E79964;
    border-right: 10px solid #E79964;
    border-bottom: 10px solid  rgba(220,110,35, .7);
    border-right: 10px solid rgba(220,110,35, .7);
}
.Red nav#block-an-navigation-left-nav > ul > li.active-trail {
    border-bottom: 10px solid #D87C6F;
    border-right: 10px solid #D87C6F;
    border-bottom: 10px solid  rgba(199,69,50, .7);
    border-right: 10px solid rgba(199,69,50, .7);
}
.Purple nav#block-an-navigation-left-nav > ul > li.active-trail {
    border-bottom: 10px solid #876E99;
    border-right: 10px solid #876E99;
    border-bottom: 10px solid  rgba(84,49,110, .7);
    border-right: 10px solid rgba(84,49,110, .7);
}

.Blue nav#block-an-navigation-left-nav ul li.first a.active-trail,
.Blue nav#block-an-navigation-left-nav ul li a.active-trail,
.Blue nav#block-an-navigation-left-nav ul li a  {
    border: 1px solid #5788B3;
    border: 1px solid rgba(16,86,147, .7);
    border-bottom:none;
}
.Orange nav#block-an-navigation-left-nav ul li.first a.active-trail,
.Orange nav#block-an-navigation-left-nav ul li a.active-trail,
.Orange nav#block-an-navigation-left-nav ul li a  {
    border: 1px solid #E79964;
    border: 1px solid rgba(220,110,35, .7);
    border-bottom:none;
    margin-bottom: -1px;
}
.Red nav#block-an-navigation-left-nav ul li.first a.active-trail,
.Red nav#block-an-navigation-left-nav ul li a.active-trail,
.Red nav#block-an-navigation-left-nav ul li a  {
    border: 1px solid #D87C6F;
    border: 1px solid rgba(199,69,50, .7);
    border-bottom: none;
}
.Purple nav#block-an-navigation-left-nav ul li.first a.active-trail,
.Purple nav#block-an-navigation-left-nav ul li a.active-trail,
.Purple nav#block-an-navigation-left-nav ul li a  {
    border: 1px solid #876E99;
    border: 1px solid rgba(84,49,110, .7);
    border-bottom:none;
}

.Blue nav#block-an-navigation-left-nav li a.active {
    background-color: rgb(16,86,147);
    background-color: rgba(16,86,147, 1);
}
.Orange nav#block-an-navigation-left-nav li a.active{
    background-color: rgb(220,110,35);
    background-color: rgba(220,110,35, 1);
}
.Red nav#block-an-navigation-left-nav li a.active {
    background-color: rgb(199,69,50);
    background-color: rgba(199,69,50, 1);
}
.Purple nav#block-an-navigation-left-nav li a.active {
    background-color: rgb(84,49,110);
    background-color: rgba(84,49,110, 1);
}

/*
.Blue nav#main-menu ul li a.active-trail {
    border-top: 1px solid rgb(16, 86, 147);
    border-right: 1px solid rgb(16, 86, 147);
    border-left: 1px solid rgb(16, 86, 147);
    border-bottom: none;    
    border-top: 1px solid rgba(16, 86, 147, 1);
    border-right: 1px solid rgba(16, 86, 147, 1);
    border-left: 1px solid rgba(16, 86, 147, 1);
    border-bottom: none;
}
.Orange nav#main-menu ul li a.active-trail {
    border-top: 1px solid rgb(220, 110, 35);
    border-right: 1px solid rgb(220, 110, 35);
    border-left: 1px solid rgb(220, 110, 35);
    border-bottom: none;    
    border-top: 1px solid rgba(220, 110, 35, 1);
    border-right: 1px solid rgba(220, 110, 35, 1);
    border-left: 1px solid rgba(220, 110, 35, 1);
    border-bottom: none;
}
.Red nav#main-menu ul li a.active-trail {
    border-top: 1px solid rgb(199, 69, 50);
    border-right: 1px solid rgb(199, 69, 50);
    border-left: 1px solid rgb(199, 69, 50);
    border-bottom: none;    
    border-top: 1px solid rgba(199, 69, 50, 1);
    border-right: 1px solid rgba(199, 69, 50, 1);
    border-left: 1px solid rgba(199, 69, 50, 1);
    border-bottom: none;
}
.Purple nav#main-menu ul li a.active-trail {
    border-top: 1px solid rgb(154, 184, 63);
    border-right: 1px solid rgb(154, 184, 63);
    border-left: 1px solid rgb(154, 184, 63);
    border-bottom: none;    
    border-top: 1px solid rgba(154, 184, 63, 1);
    border-right: 1px solid rgba(154, 184, 63, 1);
    border-left: 1px solid rgba(154, 184, 63, 1);
    border-bottom: none;
}*/

.lifecycle-stage-body{
    line-height: 30px;
}

.item-list .pager {
    text-align: right;
}

#resource-links li {
    padding-top: 10px;
}

/*******************Community Styling***************************/

h2.comment-form {
    float: left;
    border: none;
    margin-right: 10px;
}

.comment-user-info {
    padding-top: 5px;
    font-style: italic;
    clear: both;
}

.convo-posted-date {
    float:right;
    font-size: 13px;
    text-transform:none;
}
.convo-post .user-name{
    text-transform: uppercase;
}

.convo-post{
    position: relative;
}

.convo-post .posted-date{
    float:right;
}

.convo-post .user-occupation {
    font-style: italic;
    font-weight: bold;
}

.convo-post .user-moderator {
	font-style: italic;
    font-weight: bold;
	color: #2d2d2d;
}

.convo-post .convo-user-image{
    width: 20%;
    vertical-align: bottom;
    position:absolute;
    bottom: 0;
}

.even .convo-user-image {

    float:left;
}

.odd .convo-user-image {

    float:right;
    text-align: right;
}


.convo-post {
    margin-top: 60px;

}
.convo-body {
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    border: 1px solid #BF5500;
    border-bottom: 4px solid #BF5500;
}
.odd .convo-body {
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    border: 1px solid #E79964;
    border-bottom: 4px solid #E79964;
    border: 1px solid rgba(220, 110, 35, .5);
    border-bottom: 4px solid rgba(220, 110, 35, .5);
}

.even .convo-body {
    width: 75%;
    margin-left: 25%;
    padding: 15px;
    margin-bottom: 20px;
    position: relative;
    bottom: 40px;
    border-left: 2px solid #BF5500;
}

.odd .convo-body {
    width: 75%;
    margin-right: 25%;
    padding: 15px;
    margin-bottom: 20px;
    position: relative;
    bottom: 40px;
    border-right: 2px solid #E79964;
    border-right: 2px solid rgba(220, 110, 35, .5);

}



.comments > .even:after,
.convo-posts > .even:after{
    content: '';
    position: absolute;
    bottom: 40px;
    right: -7px;
    border: solid transparent 5px;
    -moz-border-start-style: inset;
    border-bottom-color: white;
    z-index: 5;
}

.comments > .odd:before {
    content: '';
    position: absolute;
    bottom: 39px;
    left: -5px;
    border: solid transparent 5px;
    -moz-border-start-style: inset;
    border-bottom-color: white;
    z-index: 5;

}

.even .convo-body:after{
	border-color: transparent transparent white transparent;
    border-style: solid;

    -moz-border-start-style: inset;
    border-width: 20px 0px 20px 39px;
    content: '';
    z-index: 5;
    bottom: 0px;
    left: -35px;


    display: block;
    height: 0;
    width: 0;
    line-height: 0;
    position: absolute;
}
.even .convo-body:before {
    border-color: transparent transparent #BF5500 transparent;

    border-style: solid;

    -moz-border-start-style: inset;
    border-width: 20px 0px 27px 50px;
    content: '';
    z-index: 4;
    bottom: -4px;
    left: -50px;

    display: block;
    height: 0;
    width: 0;
    line-height: 0;
    position: absolute;
}


.odd .convo-body:after {
    border-color: transparent transparent white transparent;
    border-style: solid;

    -moz-border-start-style: inset;
    border-width: 20px 48px 24px 0px;
    content: '';
    bottom: 0px;
    right: -38px;

    display: block;
    height: 0;
    width: 0;
    line-height: 0;
    position: absolute;
    z-index: 5;
}
.odd .convo-body:before {
    border-color: transparent transparent #E79964 transparent;
    border-color: transparent transparent rgba(220, 110, 35, .5) transparent;

    border-style: solid;
    -moz-border-start-style: inset;
    border-width: 20px 50px 27px 0px;
    content: '';
    z-index: 4;
    bottom: -4px;
    right: -52px;

    display: block;
    height: 0;
    width: 0;
    line-height: 0;
    position: absolute;
}

.odd .convo-user-image  {
    float:right;  
    right: 0;
}

#site-name a:hover {
    text-decoration: none;
}


/******************End Community Styling*************************/

.webform-client-form .webform-component {
	clear:both;
	padding-bottom: 1em;
}

.webform-component .description{
	clear: both;
}

.webform-component .form-type-checkbox label,
.webform-component .form-type-checkbox span.label-508,
.webform-component  fieldset {
	margin: 0px;
	padding: 5px 0;
	position: relative;
	left: 25px;
}

.webform-component .form-required{
	float: left;
	margin-left: -30px;
}
.webform-component fieldset#edit-submitted-disclaimer legend {
    font-weight: bold;
    text-transform: none;
    color: #105693;
    padding-left: 10px;
}
.webform-component fieldset#edit-submitted-disclaimer {
    width: 100%;
    margin-top: -10px;
    position: relative;
}
.webform-component fieldset#edit-submitted-disclaimer label {
    top: 10px;
}
div.form-item-submitted-disclaimer-affirm {
   top: 2px;
}
fieldset.captcha {
    
    margin-bottom: 20px;
}
input#edit-submitted-resource-file-upload-button {
    margin-left: 10px;
}


.node-webform .form-actions .form-submit,
.webform-component > label,
.webform-component > span.label-508,
.webform-component > legend,.webform-component > fieldset,
.webform-component > div,
.webform-component > input{
	clear: both;
	position: relative;
	left: 30px;
}

.webform-component > div.form-checkboxes{
	clear: none;
}

fieldset.captcha {
    margin-left: 30px;
}
.edit-actions {
    margin: 30px 0;
}
/*.webform-component .grippie,
.webform-component .description,
.webform-component .form-checkboxes{
	margin-left: 30px;
}*/

/** Hide this from forms**/
#conversation-node-form #edit-group-content-access {
    display: none;
}

#conversation-node-form #edit-actions {
    overflow:hidden;
    margin: 30px 0;
}
#conversation-node-form #edit-actions input {
    margin-right: 10px;
}

span.text-grey,
span.button-grey a{
    color: #c2c2c2;
    border: 1px solid #c2c2c2;
    font-size: 13px;
    font-weight: bold;
    background-color: white;
    background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, from(rgba(222,222,222, .2)), color-stop(0.15, rgba(222,222,222, .2)), color-stop(0.15, transparent), color-stop(0.50, transparent), color-stop(0.50, rgba(222,222,222, .2)), color-stop(0.65, rgba(222,222,222, .2)), color-stop(0.65, transparent), to(transparent));
    background-image: -moz-linear-gradient(-45deg, rgba(222,222,222, .2), rgba(222,222,222, .2) 15%, white 50%, rgba(222,222,222, .2) 65%, white);
    background-size: 5px 5px;
    -webkit-background-size: 5px 5px;
    -moz-background-size: 5px 5px;
    padding: 5px 10px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
span.button-grey a:hover {
    border: 1px solid #2d2d2d;
    color:#2d2d2d;
    font-weight: bold;
    background-color:#9AB83F;
    background-image:-webkit-repeating-linear-gradient(left top, #e2e2e2 0px, #fff 4px);
    background-image:-moz-repeating-linear-gradient(left top, #BCD35A 0px, #9AB83F 4px);
    background-image:-ms-repeating-linear-gradient(left top, #BCD35A 0px, #9AB83F 4px);
    background-image:-o-repeating-linear-gradient(left top, #BCD35A 0px, #9AB83F 4px);
    background-image:repeating-linear-gradient(left top, #BCD35A 0px, #9AB83F 4px);
    padding: 5px 10px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

body.page-communities h1 span.button {
    margin: 0;
    float:right;
}

body.page-communities h1 {
    overflow: hidden;
}

.start-a-convo,
.create-a-community{
    margin-top: 20px;
    
    margin-bottom: 20px;
}

.community-buttons {
    clear:both;
    overflow:hidden;
    padding: 5px 0;
}

.community-buttons .start-a-convo,
.community-buttons .manage-members {
    display: inline;
    margin-right: 10px;
} 
nav#block-an-navigation-left-nav .manage-members a
{
    padding: 5px 10px;
}

.Blue .posted-date {
    color: #105693;
}

span.resource-title-date{
	
    font-size: 13px;
    font-weight: normal;
    text-transform: none;
	margin-top: 0px;
}

#community-members-pager {
    font-size: 10px;
}

#education-landing-page {
	margin-top: 20px;
}

/** 508 stuff added by Lauren **/
fieldset.checkboxes-508, 
fieldset.radios-508 {
    border: 0px solid white;
    display: block;
}
legend.checkboxes-508 {
    color: black;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: -10px;
}
legend.radios-508 {
    color: black;
    font-size: 13px;
    font-weight: bold;
    margin-left: -10px;
}
.hidden-508 {
    display: none;
    visibility: hidden;
    width: 0px;
    height: 0px;
}

/* lauren - 508 testing 
input:focus, div:focus, span:focus {outline:1px dotted red;}
*/

.accrualnet-user-profile-form-wrapper input:focus,
.accrualnet-user-register-form-wrapper input:focus {
    outline:2px solid #9ab83f;
}