/* 
    Document   : AccrualNet
    Created on : May 22, 2012, 2:35:54 PM
    Author     : doylejd
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/



h1,
h1.title{
    font-size: 25px;
    text-transform: uppercase;
    border-bottom: 3px dotted #d2d2d2;
    margin: 15px 0;
}

h2,
h2.title {
    font-size: 17px;
    font-weight: 900;
    text-transform: uppercase;
    border-bottom: 3px dotted #d2d2d2;
}

h1 span {
    font-size: 25px;
    text-transform: uppercase;
    margin: 15px 0;
}
.Blue h1 {
    color: #105693;
}

#page-options {
    clear: both;
    overflow: hidden;
}

.breadcrumb {
    float:left;
}

.add-this {
    float:right;
}
.add-this a {
    padding: 0 10px;
}
.add-this span{
    display:inline-block;
    margin-top: 5px;
    margin-right: 4px;
}

/*************************************************************
            Landing Page Styles
*************************************************************/
.landing-page-header {

}

.landing-page-image {
    float:left;
    width: 60%;
}
.landing-page-text {
    width: 40%;
    margin-left: 60%;
}

/*Must clear both on this div instead of header div because image is floated*/
#literature-landing-page #resources-list,
#protocol-landing-page .lifecycle-stages{
    clear:both;
}

/*Must clear both on this div instead of header div because image is floated*/
#protocol-landing-page .lifecycle-stages {
    clear:both;
}

#protocol-landing-page .lifecycle-stage {
    border-bottom: 3px dotted #d2d2d2;
}

#protocol-landing-page  .last {
    border-bottom: none;
}


/****************************End LAnding PAge STyles***********/

#title-results-number { 
    color: #2D2D2D; 
    opacity: 0.75;
    filter:alpha(opacity=75);
}


#ncibanner {
	background-color: #fff;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

#ncibanner ul {
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	max-width: 1200px;
}
#ncibanner ul li {
	padding-bottom: 0;
}
#ncibanner ul li.nciLogo {
	float: left;
}
#ncibanner ul li.nciLogo a {
	background-repeat: no repeat;
	display: block;
	height: 39px;
	text-indent: -9999px;
	width: 263px;
}
#ncibanner ul li.nihText {
	float: right;
}
#ncibanner ul li.nihText a {
	background-repeat: no repeat;
	display: block;
	height: 39px;
	text-indent: -9999px;
	width: 208px;
}
#ncibanner ul  li.nciURL {
	float: right;
}
#ncibanner ul li.nciURL a {
	background-repeat: no repeat;
	display: block;
	height: 39px;
	text-indent: -9999px;
	width: 99px;
}



/**
			White Banner
		**/
#ncibanner {
	background-color: #fff;
	color: #000;
}
#ncibanner ul li.nciLogo a {
	background-image: url('../images/global/white-ncilogo.gif');
}
#ncibanner ul li.nihText a {
	background-image: url('../images/global/white-nihtext.gif');
}
#ncibanner ul li.nciURL a {
	background-image: url('../images/global/white-nciurl.gif');
}


#footer {
    background: #2D2D2D;
    font-size: 12px;
    height: 112px;
    line-height: 20px;
    margin: 0 auto;
    text-align: center;
    padding:0;
}
.footer-push {
    height: 112px;
}
#nci-footer {
    padding:0;
    height: 112px;
    margin: 0 auto;
    text-align: center;
    max-width: 1200px;

}


#nci-footer a {
	color: #fff;
}
#nci-footer a {
	color: #fff;
}
#nci-footer a:hover {
	color: #fff;
}
#nci-footer .footer-links ul {
	text-align: center;
	margin: 0 auto;
	padding: 22px 0 0 0;
}
#nci-footer .footer-links li {
	display: inline;
	border-right: 1px solid #fff;
	padding: 0 5px;
}
#nci-footer .footer-links li.last {
	border: none;
}
#nci-footer img {
	border: 0;
	padding-top: 12px;
	margin: 0 auto;
}                        


/**************************************
	   Global Styles
*************************************/
input, 
input[type="password"], 
input[type="search"], 
isindex {
	background-color: white;
	border: 1px solid #9AB83F;
	padding: 5px;
}

.form-type-textfield input {
	width: 200px;
}


html, body {
    height: 100%;

}
#page {
    height:auto !important;
    margin:0px auto -112px;  /*this value is the footer height)*/
    min-height:100%;

}


#main {
    background: white;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;



}

#main-wrapper {
    border-top: 1px solid #FF9A30;
    position:relative;
    top: -2px;
}

#header {
    background-color: white ;
    /*background-image: repeating-linear-gradient(-45deg, white, white 2px, white 2px, white 4px);
    background-image: -webkit-repeating-linear-gradient(-45deg, #ffe5ca, #ffe5ca 1%, white 2%, white 3% );

    background-image: -webkit-gradient(linear, 100% 0%, 0% 100%,
    from(transparent),
    color-stop(0.15, transparent), 
    color-stop(0.15, rgba(255,0,0,0.75)),
    color-stop(0.50, rgba(255,0,0,0.75)),
    color-stop(0.50, transparent),
    color-stop(0.65, transparent),
    color-stop(0.65, rgba(255,0,0,0.75)), 
    to(rgba(255,0,0,0.75)));*/

    background-image:
		-webkit-gradient(linear, 0% 0%, 100% 100%, from(#ffe5ca), color-stop(0.15, #ffe5ca), color-stop(0.15, transparent), color-stop(0.50, transparent), color-stop(0.50, #ffe5ca), color-stop(0.65, #ffe5ca), color-stop(0.65, transparent), to(transparent));
    background-image: 
		-moz-linear-gradient(-45deg, #ffe5ca, #ffe5ca 15%, white 50%,  #ffe5ca 65%, white);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe5ca', endColorstr='white'); /* IE6 & IE7 */  
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe5ca', endColorstr='white')"; /* IE8+ */  
    background-size: 10px 10px;
    -webkit-background-size: 10px 10px;
    -moz-background-size: 10px 10px;
}

header#page-header {
    max-width: 1200px;
    margin: 0 auto;
}




.field-type-taxonomy-term-reference {
	float:left;
	padding-right: 10px;

}

#site-wide-search-box {
    clear:both;
    width: 100%;
    margin: 30px auto;
}

#site-wide-search-box form {
    float:right;
    margin-bottom: 30px;
}

#page-options {
    padding-left: 10px;
}

/** Added by Lauren **/
.form-type-checkbox label,
.form-type-checkbox label{
    margin-left: 25px;
    color: black;
    font-weight: normal;
    font-size: 13px;
}

.unchecked {
    background-image: url('../images/global/checkbox_unchecked.jpg'); 
    background-repeat:no-repeat;
    background-position:left center; 
}
.checked {
    background-image: url('../images/global/checkbox_checked.jpg'); 
    background-repeat:no-repeat;
    background-position:left center; 
}

/** Added by Dan **/

/** knock the site into Arial */
html, button, input, select, textarea {
    font-family: Arial, sans-serif;
}

.search-form div .form-wrapper .form-submit{
	margin-left: 30px;
}

.search-title{
	clear: both;
	margin-bottom: 0px;
}

hr.search-divider{
	margin: 1.5em 0 1em;
}

.search-count{
	width: 50%;
	float: left;
	font-weight: bold;
	margin-bottom: 3em;
}

.search-pager{
	float: right;
}

li.search-result{
	clear: both;
}

h2.element-invisible{
	margin: 0px;
	line-height: normal;
}

.search-pager .item-list .pager{
	margin: 0px;
}

body  .search-form,
body  .search-title,
body .search-pager,
body .search-count,
body .search-results{
	color: #2d2d2d;
}

body a:visited {
	color: #626262;
}



/********************Lifecycle Styling***************************/

.lifecycle-stage-image {
    float:left;
    width: 60%;
    text-align:left;
}
.lifecycle-stage-body {
    width: 40%;
    margin-left: 60%;
}

.lifecycle-stage-content{
    clear:both;
}

.lifecycle-stage-strategy {
    border-bottom: 3px dotted #d2d2d2;
    clear:both;
    min-height: 110px;
}
.lifecycle-strategy-icon {
    float:left;
    width: 10%;
    text-align:center;
}
.lifecycle-strategy-icon img {
    
}
.lifecycle-strategy-teaser {
    width: 90%;
    margin-left: 10%;
}

.lifecycle-stage-strategies .last,
.lifecycle-strategy-body .last{
    border-bottom: none;
}

.lifecycle-activity {
    padding-bottom: 20px;
    border-bottom: 3px dotted #d2d2d2;
    clear:both;
}
/********************End Lifecycle Styling***********************/


/*****************Featured Content Styling**********************/
.featured-content-title {
    margin: 30px 0;
}
.featured-content-title .feature-header{
    font-size:35px;
    text-transform: uppercase;
    background-color: #105693;
    
    padding: 10px 20px;
    
}
.featured-content-section-1,
.featured-content-section-4{
    float:left;
    width:45%;
    padding-left: 2%;
    padding-right: 2%;
}

.featured-content-picture {
    float:left;
    width:45%;
    padding-left: 2%;
    padding-right: 2%;
    text-align:center;
}
.featured-content-section-4 {
    border-left: 3px dotted #d2d2d2; 
}

.featured-content-block {
    list-style: none;
    overflow:hidden;
}

.featured-content-block div.resource-output {
    min-height: 10px;
}

.featured-content-carousel {
    
}

.featured-content-carousel {
    position: relative;
    border-bottom: solid #105693 7px;
    border-right: solid #105693 7px;
}

.featured-content-carousel:before {
  content: '';
  position: absolute;
  left: -7px;
  bottom: -7px;
  border: solid transparent 7px;
  border-bottom-color: #fff;
}

.featured-content-carousel:after {
  content: '';
  position: absolute;
  top: 0px;
  right: -14px;
  border: solid transparent 7px;
  border-top-color: #fff;
}







.featured-content-carousel  li {
    list-style:none;
}

.featured-carousel-slides {
    
    border: 3px solid #105693;
}

.featured-carousel-slides  .slide {
    
    min-height: 380px;
}

.slideshowControls{
    display:table;
    width: 100%;
    table-layout: fixed;
    clear:both;
    margin: 30px 0;
    
}
.slideshowControl {
    display: table-cell;
    
    text-align:center;
    max-width: 50%;
    margin: 30px;
    
}
.slideshowControl  div{
    cursor: pointer;
    margin: 0px 20px;
    padding: 10px 20px;
    
    border: 1px solid #105693;
    border-bottom: 5px solid #105693;
    
    
    background-color: #fff;
    background-image:
        -webkit-gradient(linear, 0% 0%, 100% 100%, from(rgba(16, 86, 147, .1)), color-stop(0.15, rgba(16, 86, 147, .1)), color-stop(0.15, transparent), color-stop(0.50, transparent), color-stop(0.50, rgba(16, 86, 147, .1)), color-stop(0.65, rgba(16, 86, 147, .1)), color-stop(0.65, transparent), to(transparent));
    background-image: 
		-moz-linear-gradient(-45deg, rgba(16, 86, 147, .1), rgba(16, 86, 147, .1) 15%, white 50%,  rgba(16, 86, 147, .1) 65%, white);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(16, 86, 147, .1)', endColorstr='white'); /* IE6 & IE7 */  
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(16, 86, 147, .1)', endColorstr='white')"; /* IE8+ */  
    background-size: 10px 10px;
    -webkit-background-size: 10px 10px;
    -moz-background-size: 10px 10px;
    
    
    
    opacity: 0.4;
    filter:alpha(opacity=40);
}
.slideshowControls .selected div {
    margin: 0px 20px;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 5px solid #105693;
    opacity: 1;
}


/*****************End Featured Content Styling********************/