/**
 * @file
 * Form Styling
 */


.form-item { /* Wrapper for a form element (or group of form elements) and its label */
  margin: 1.5em 0;
}

.form-item input.error,
.form-item textarea.error,
.form-item select.error { /* Highlight the form elements that caused a form submission error */
  border: 1px solid #c00;
}

.form-item label { /* The label for a form element */
  display: block;
  font-weight: bold;
}

.form-item label.option { /* The label for a radio button or checkbox */
  display: inline;
  font-weight: normal;
}

.form-required { /* The part of the label that indicates a required field */
  color: #c00;
}

.form-item .description { /* The descriptive help text (separate from the label) */
  font-size: 0.85em;
}

.form-checkboxes .form-item,
.form-radios .form-item { /* Pack groups of checkboxes and radio buttons closer together */
  margin: 0; /* Drupal core uses "0.4em 0" */
}

.form-submit { /* The submit button */
}

.container-inline div,
.container-inline label { /* Inline labels and form divs */
  display: inline;
}

.tips { /* Tips for Drupal's input formats */
}

a.button { /* Buttons used by contrib modules like Media */
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

/*
 * Password confirmation
 */

.password-parent,
.confirm-parent {
  margin: 0;
}

/*
 * Search (search-block-form.tpl.php)
 */

#block-search-form { /* Wrapper for the search form */
}

/*
 * Drupal's default login form block
 */

#user-login-form {
  text-align: left; /* LTR */
}

/*
 * OpenID
 *
 * The default styling for the OpenID login link seems to assume Garland's
 * styling of list items.
 */

#user-login-form ul { /* OpenID creates a new ul above the login form's links. */
  margin-bottom: 0; /* Position OpenID's ul next to the rest of the links. */
}

html.js #user-login-form li.openid-link,
#user-login-form li.openid-link { /* The "Log in using OpenID" link. */
  margin-top: 1.5em;
  margin-left: -20px; /* LTR */ /* Un-do some of the padding on the ul list. */
}

#user-login-form li.user-link { /* The "Cancel OpenID login" link. */
  margin-top: 1.5em;
}

#user-login ul {
  margin: 1.5em 0;
}

/*
 * Drupal admin tables
 *
 * We overrode these styles in normalize.css, but restore them for the admin
 * section of the site.
 */

form th {
  text-align: left; /* LTR */
  padding-right: 1em; /* LTR */
  border-bottom: 3px solid #ccc;
}

form tbody {
  border-top: 1px solid #ccc;
}

form tr.even {
  background-color: #fff;
}

form table .item-list ul {
  margin: 0;
}

.lt-ie8 tr.even th,
.lt-ie8 tr.even td,
.lt-ie8 tr.odd th,
.lt-ie8 tr.odd td {
  border-bottom: 1px solid #ccc; /* IE doesn't display borders on table rows */
}

/*
 * Drupal core wrongly puts this in system.menus.css. Since we override that, add it back.
 */

td.menu-disabled {
  background: #ccc;
}


/* MOVE THIS -Lauren */
#resource-ajax-filter .form-type-checkbox label {
    padding-left: 0px;
    margin-left: -10px;
    padding: 2px 0px 2px 35px;
    margin-top:-4px;
    width: 100%;
    display:block;
}

/* And maybe this */
.form-actions input,
input.form-submit,
span.button{
    border: 2px solid #9AB83F;
    color:#9AB83F;
    font-weight: bold;
    background-color: white;
    background-image:
        -webkit-gradient(linear, 0% 0%, 100% 100%, from(rgba(154, 184, 63, .2)), color-stop(0.15, rgba(154, 184, 63, .2)), color-stop(0.15, transparent), color-stop(0.50, transparent), color-stop(0.50, rgba(154, 184, 63, .2)), color-stop(0.65, rgba(154, 184, 63, .2)), color-stop(0.65, transparent), to(transparent));
    background-image: 
		-moz-linear-gradient(-45deg, rgba(154, 184, 63, .2), rgba(154, 184, 63, .2) 15%, white 50%,  rgba(154, 184, 63, .2) 65%, white);
    background-size: 5px 5px;
    -webkit-background-size: 5px 5px;
    -moz-background-size: 5px 5px;
    padding: 5px 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

.form-actions input:hover,
.form-actions input:active,
input.form-submit:hover, 
input.form-submit:active {
    border: 2px solid #9AB83F;
    color:#fff;
    font-weight: bold;
    background-color:#9AB83F;
    background-image:-webkit-repeating-linear-gradient(left top, #BCD35A 0px, #9AB83F 4px);
    background-image:-moz-repeating-linear-gradient(left top, #BCD35A 0px, #9AB83F 4px);
    background-image:-ms-repeating-linear-gradient(left top, #BCD35A 0px, #9AB83F 4px);
    background-image:-o-repeating-linear-gradient(left top, #BCD35A 0px, #9AB83F 4px);
    background-image:repeating-linear-gradient(left top, #BCD35A 0px, #9AB83F 4px);

    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}


div.cta-button {
    margin-top: 30px;
}

/*
 *
 * Fake Button
 *
 */
span.button {
    border: 2px solid #9AB83F;
    color:#9AB83F;
    font-size: 13px;
    font-weight: bold;
     background-color: white;
    background-image:
        -webkit-gradient(linear, 0% 0%, 100% 100%, from(rgba(154, 184, 63, .2)), color-stop(0.15, rgba(154, 184, 63, .2)), color-stop(0.15, transparent), color-stop(0.50, transparent), color-stop(0.50, rgba(154, 184, 63, .2)), color-stop(0.65, rgba(154, 184, 63, .2)), color-stop(0.65, transparent), to(transparent));
    background-image: 
		-moz-linear-gradient(-45deg, rgba(154, 184, 63, .2), rgba(154, 184, 63, .2) 15%, white 50%,  rgba(154, 184, 63, .2) 65%, white);
    background-size: 5px 5px;
    -webkit-background-size: 5px 5px;
    -moz-background-size: 5px 5px;
    padding: 5px 10px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}
span.button:hover {
    border: 2px solid #9AB83F;
    color:#fff;
    font-weight: bold;
    background-color:#9AB83F;
    background-image:-webkit-repeating-linear-gradient(left top, #BCD35A 0px, #9AB83F 4px);
    background-image:-moz-repeating-linear-gradient(left top, #BCD35A 0px, #9AB83F 4px);
    background-image:-ms-repeating-linear-gradient(left top, #BCD35A 0px, #9AB83F 4px);
    background-image:-o-repeating-linear-gradient(left top, #BCD35A 0px, #9AB83F 4px);
    background-image:repeating-linear-gradient(left top, #BCD35A 0px, #9AB83F 4px);
    padding: 5px 10px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}
span.button a, span.button a:visited {
    color: #9AB83F;
    text-decoration:none;
}
span.button a:hover, span.button a:active, span.button:hover a {
    color: #fff;
    text-decoration: none;
}
/*
 *
 */
 
 
 /*
 * Search Stuff
 */
 #search-form input#edit-keys {
     width:90%;
     margin-bottom: 30px;
 }
 #search-form input#edit-submit {
     margin: 0% 0% 0% 1.5%;
     width: 7%;
 }
 #search-block-form #edit-actions input {
     margin: 0px 10px;
 }
 #search-header {
     margin-top: 50px;
     width: 100%;
     font-weight: bold;
     font-size: 17px;
     text-align: left;
     padding-bottom: 50px;
 }
 #search-header .pager {
     font-size: 13px;
 }
 #search-count {
     float: left;
     text-align: left;
 }
 .search-results {
     padding-left: 0px;
     margin-left: 0px;
 }
 .search-results .resource-output-image {
     width: 12%;
 }
 .search-results .resource-text {
     margin-left: 14%;
     width: 85%;
 }
 
 .search-node-output {
     margin-left: 14%;
     width: 85%;
     padding: 10px 0px;
 }
 .search-node-output a {
     font-size: 17px;
     color: #2D2D2D;
 }
 .search-node-output a:hover {
     font-weight: bold;
 }
 .result-type-community a, .result-type-conversation a,
 .result-type-community a:hover, .result-type-conversation a:hover,
.result-type-community a:visited, .result-type-conversation a:visited {
     color: #DC6E23;
 }
  .result-type-lifecycle-strategy a, .result-type-lifecycle-stage a,
 .result-type-lifecycle-strategy a:hover, .result-type-lifecycle-stage a:hover,
.result-type-lifecycle-strategy a:visited, .result-type-lifecycle-stage a:visited {
     color: #54316E;
 }
 
 
 .results-number, .RESULTS-NUMBER {
     font-family: Arial, Helvetica, sans-serif;
      color: #2D2D2D;
    opacity: 0.75;
 }
 
 #og-ui-user-admin-account .table-select-processed{
     width: 100%;
 }
 
 #og-ui-user-admin-account #edit-options {
     width: 100%;
 }
 
 #og-ui-user-admin-account #edit-options .form-type-select{
     float: left;
 }
 #og-ui-user-admin-account #edit-options  #edit-submit {
     margin-left: 20px;
 }