/**
 * @file
 * Navigation Styling
 */

 nav#main-menu ul.clearfix::after {
     content: none;
 }
 
 /************************************
        Global Navigation   
 **************************************/
 #navigation {  height: 100%; clear:both; background: transparent; }
 
 nav#main-menu {  width: 100%;   margin: 0px auto 0px auto; }
 nav#secondary-menu { margin: 0 auto; float: right;}
 nav ul,
 nav ul li.leaf,
 nav ul li.collapsed,
 nav ul li.expanded{  list-style:none;  overflow:hidden;  }
 
 nav ul.inline li { padding: 0;}
 
 
 nav ul li > ul { display: none; }
 
 nav ul li.active-trail > ul { display: block; }
 
 nav.breadcrumb li {
     font-family: Arial, Helvetica, sans-serif;
     font-size: 10px;
     text-decoration:none;
 }
 nav.breadcrumb li a{
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: center;
    text-decoration: underline;
    color: #2D2D2D;
    border:none;
 }
 nav.breadcrumb li a:hover {
     font-weight: bold;
 }
 
 
/*
 * The active item in a Drupal menu
 */

li a.active {
  color: #000;
}
 
 nav li:last-child a {
}


 
 /**************************************
            Main Menu Navigation
 ****************************************/
 
 nav#main-menu li a {
    display: block;
    float: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    width: 25%;
    padding: 11px 0px 10px 0px;
    
    background: none;
    

    
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #2D2D2D;
    opacity: .75;
    
    /*TRANSISTIONS*/
	-webkit-transition: background 0.5s ease;
	   -moz-transition: background 0.5s ease;
	     -o-transition: background 0.5s ease;
	    -ms-transition: background 0.5s ease;
	        transition: background 0.5s ease;
                
   
 }
 nav#main-menu li a:hover {
     opacity:1;
    font-weight: bold;
 }
 nav#main-menu ul li a.active-trail {
    position:relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    background: white;
    
    border-top: 1px solid rgb(154, 184, 63);
    border-right: 1px solid rgb(154, 184, 63);
    border-left: 1px solid rgb(154, 184, 63);
    border-bottom: none;
    
    border-top: 1px solid rgba(154, 184, 63, 1);
    border-right: 1px solid rgba(154, 184, 63, 1);
    border-left: 1px solid rgba(154, 184, 63, 1);
    border-bottom: none;
    
    padding: 10px 0px 10px 0px;
    opacity:1;
    font-weight: bold;
    /*color: #2D2D2D;*/
    overflow:visible;
    z-index: 1;
 }

 #navigation {
     width: 100%;
     overflow:hidden;
 }
 #navigation ul {
     display: table;
     table-layout:fixed;
     width: 100%;
     -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
    margin: 0;
 }
 
 #navigation ul li {
     display: table-cell;
     width: 25%;
     
 }
 #navigation ul li a {
     width: 100%;
     

 }


/*******************************************
            Secondary Menu
*********************************************/

.header-right {
    float:right;
    width: 50%;
}
.user-welcome-image {
    float:right;
    margin: 10px 0;
}

.header-right .user-blerb {
    float: right;
    margin: 10px 20px;
    color: #2D2D2D;
    font-weight: 900;
    font-size: 14px;
    
}

.header-right .user-welcome-text {
    margin: 10px 10px;
    float:right;
}

.header-Orange .user-welcome-text {
    color: #BF5500;
}
.header-Red .user-welcome-text {
    color: #C74532;
}
.header-Blue .user-welcome-text {
    color: #105693;
}
.header-Purple .user-welcome-text {
    color: #54316E;
}
    


nav#secondary-menu ul{
    float:right;
    padding: 10px 0 10px 10px;
    margin: 15px 0;
}
nav#secondary-menu ul li a {
    float: right;
    font-size: 14px;
    font-weight: 900;
    padding:5px 10px;
    text-decoration: none;
    line-height:14px;
}

nav#secondary-menu ul li a {
    border: 1px solid #9AB83F;
    color: #9AB83F;
    font-weight: bold;
    background-color: white;

    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    
}
nav#secondary-menu ul li a:hover { 
    border: 1px solid #9AB83F;
    color:#fff;
    font-weight: bold;
    background-color:#9AB83F;
    padding: 5px 10px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}
nav#secondary-menu ul li.last a {
    margin-right: 20px;
}


/*******************************************
            Left Nav
 *******************************************/
nav ul li > ul {
    clear:both;
}

nav#block-an-navigation-left-nav ul  {
   overflow:visible;
    padding: 0;
    width: 100%;
    padding-bottom: 15px;
}

nav#block-an-navigation-left-nav a {
    padding: 10px 10px 10px 20px;
    
}



nav#block-an-navigation-left-nav > ul > li {
    
    border-bottom: none;
    width: 90%;
    margin: 0 auto;
    background-color: white;
    margin-top: -5px;
    position: relative;
    overflow: visible;
    
    /* Default Menu Color... Color Alternatives in AN.css */
    border-bottom: solid #2D2D2D 5px;
    border-right: solid #2D2D2D 5px;
    border-bottom: 5px solid  rgba(45,45,45, .7);
    border-right: 5px solid rgba(45,45,45, .7) ;
}
nav#block-an-navigation-left-nav > ul > li.expanded {
    margin-top: -8px;
}

nav#block-an-navigation-left-nav > ul > li.first:after {
  content: '';
  position: absolute;
  top: 0px;
  right: -10px;
  border: solid transparent 5px;
  -moz-border-start-style: outset;
  border-top-color: white;
}

nav#block-an-navigation-left-nav > ul > li:before {
  content: '';
  position: absolute;
  left: -5px;
  bottom: -5px;
  border: solid transparent 5px;
  -moz-border-start-style: inset;
  border-bottom-color: white;  
}​

/*Something above this is breaking...*/
nav {}


nav#block-an-navigation-left-nav > ul > li.active-trail {
    border:none;
    width: 95%;
    position: relative;
    overflow: visible;
    
    /* Default Color */
    border-bottom: 10px solid #2D2D2D;
    border-right: 10px solid #2D2D2D;
    border-bottom: 10px solid  rgba(45,45,45, .7);
    border-right: 10px solid rgba(45,45,45, .7);
}
nav#block-an-navigation-left-nav > ul > li.active-trail:after {
  content: '';
  position: absolute;
  top: 0px;
  right: -20px;
  border: solid transparent 10px;
  -moz-border-start-style: outset;
  border-top-color: #fff;
}

nav#block-an-navigation-left-nav > ul > li.active-trail:before {
  content: '';
  position: absolute;
  left: -10px;
  bottom: -10px;
  border: solid transparent 10px;
  -moz-border-start-style: inset;
  border-bottom-color: #fff;
}​

nav#block-an-navigation-left-nav ul li.first a.active-trail,
nav#block-an-navigation-left-nav ul li a,
nav#block-an-navigation-left-nav ul li a.active-trail {
    /* Default Color */
    border: 1px solid rgb(45,45,45);
    border: 1px solid rgba(45,45,45, .7);
}

nav#block-an-navigation-left-nav ul li a { 
    font-size: 15px;
    font-weight:normal;
    /*border: 1px solid rgb(84,49,110);
    border: 1px solid rgba(84,49,110,.7); I moved this up -Lauren*/
    border-bottom: none;
    /*box-sizing:border-box;*/
    display:block
    
}

nav#block-an-navigation-left-nav ul li a.active {
    font-weight: bold;
} 

nav#block-an-navigation-left-nav ul li a.active-trail {
    /*border: 1px solid rgb(84,49,110);
    border:1px solid rgba(84,49,110, .7); I moved this up -Lauren*/
    border-bottom: none;
}
nav#block-an-navigation-left-nav ul li > ul {
    background: white;
    padding-bottom: 0;
}

nav#block-an-navigation-left-nav ul li > ul li {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

nav#block-an-navigation-left-nav ul li > ul li.active-trail {
    width: 100%;
    padding-left: 0;
}

nav#block-an-navigation-left-nav ul li > ul li a {
    font-size: 13px;
    font-weight:normal;
    text-align: left;
    text-decoration: none;
    
    padding-left: 30px;
    box-sizing: border-box;
    display:block;
}

nav#block-an-navigation-left-nav ul li > ul li a.active {
    font-weight: bold;
}



nav#block-an-navigation-left-nav > ul > li.last a{
    border-bottom: none;
}
/*
nav#block-an-navigation-left-nav ul {
    border: 1px solid #9AB83F;
    -moz-box-shadow: 3px 3px 5px  #9AB83F;
    -webkit-box-shadow: 3px 3px 5px #9AB83F;
    box-shadow: 3px 3px 5px  #9AB83F;
}

nav#block-an-navigation-left-nav > ul {
    border: 1px solid #9AB83F;
    -moz-box-shadow: 3px 3px 5px  #9AB83F;
    -webkit-box-shadow: 3px 3px 5px #9AB83F;
    box-shadow: 3px 3px 5px  #9AB83F;
}*/

nav#block-an-navigation-left-nav li a.active {
    /* Default Color */
    background-color: rgb(45,45,45);
    background-color: rgba(45,45,45, 1);
    color: white;
    display:block;
}