/**
 * @file
 * Navigation Styling
 */

 nav#main-menu ul.clearfix::after {
     content: none;
 }
 
 /************************************
        Global Navigation   
 **************************************/
 #navigation {  height: 100%; clear:both; background: transparent; }
 
 nav {  width: 100%;   margin: 0px auto 0px auto; }
 
 nav ul,
 nav ul li.leaf,
 nav ul li.collapsed,
 nav ul li.expanded{  list-style:none;  overflow:hidden;  }
 
 nav ul.inline li { padding: 0;}
 
 
 nav ul li > ul { display: none; }
 
 nav ul li.active-trail > ul { display: block; }
 
 nav.breadcrumb li a{
    padding: 5px;
    font: 400 12px/1.4  Helvetica, Verdana, Arial, sans-serif;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #2D2D2D;
    border:none;
 }
 
 
/*
 * The active item in a Drupal menu
 */

li a.active {
  color: #000;
}
 
 nav li:last-child a {
}

/*      Responsive Deisgn for Navigation    */

@media only screen and (max-width : 580px),
only screen and (max-device-width : 580px){
	nav li a {
		width: 50%;
		font: 600 14px/1.4  Helvetica, Verdana, Arial, sans-serif;
		padding-top: 12px;
		padding-bottom: 12px;
	}
 
	nav li:nth-child(even) a {
		border-right: none;
	}
 
	nav li:nth-child(5) a, nav li:nth-child(6) a {
		border-bottom: 1px solid #fff;
	}
}
 
@media only screen and (max-width : 320px),
only screen and (max-device-width : 320px){
	nav li a {
		font: 600 12px/1.4  Helvetica, Verdana, Arial, sans-serif;
	}
}
 
 /**************************************
            Main Menu Navigation
 ****************************************/
 
 nav#main-menu li a {
    display: block;
    float: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    width: 25%;
    padding: 11px 0px 10px 0px;
    
    background: none;
    

    
    font: 600 16px/1.4  Helvetica, Verdana, Arial, sans-serif;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #2D2D2D;
    
    /*TRANSISTIONS*/
	-webkit-transition: background 0.5s ease;
	   -moz-transition: background 0.5s ease;
	     -o-transition: background 0.5s ease;
	    -ms-transition: background 0.5s ease;
	        transition: background 0.5s ease;
 }
 
 nav#main-menu ul li a.active-trail {
    position:relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    background: white;
    border-top: 1px solid #FF9A30;
    border-bottom: none;
    border-right: 1px solid #FF9A30;
    border-left: 1px solid #FF9A30;
    padding: 10px 0px 10px 0px;
    
    color: #54316E;
    overflow:visible;
    z-index: 1;
 }




/*******************************************
            Secondary Menu
*********************************************/

nav#secondary-menu ul{
    float:right;
    padding: 5px;
    margin-bottom: 30px;
}
nav#secondary-menu ul li a {
    float: right;
    font-size: 14px;
    font-weight: 900;
    padding:10px;
    text-decoration: none;
}

nav#secondary-menu ul li a {
    color: #9AB83F;
    font-family: Verdana, sans-serif ;
    text-transform: uppercase;
    
    border: 1px solid #9AB83F;
    -moz-box-shadow: 3px 3px 5px  #9AB83F;
    -webkit-box-shadow: 3px 3px 5px #9AB83F;
    box-shadow: 3px 3px 5px  #9AB83F;
    
    background-color: white ;
   background-image:
    -webkit-gradient(linear, 0% 0%, 100% 100%,
    from(transparent),
    color-stop(0.15, transparent), 
    color-stop(0.15, #e6eecd),
    color-stop(0.50, #e6eecd),
    color-stop(0.50, transparent),
    color-stop(0.65, transparent),
    color-stop(0.65, #e6eecd), 
    to(#e6eecd));
   
    background-size: 5px 5px;
    -webkit-background-size: 5px 5px;
    
}

nav#secondary-menu ul li.last a {
    margin-right: 20px;
}


/*******************************************
            Left Nav
 *******************************************/
nav ul li > ul {
    clear:both;
}

nav#block-an-navigation-left-nav ul  {
   
    padding: 0;
    width: 100%;
    padding-bottom: 15px;
}

nav#block-an-navigation-left-nav a {
    padding: 10px 10px 10px 20px;
    
}



nav#block-an-navigation-left-nav ul li {
    border: 1px solid rgba(84,49,110,.7);
    border-bottom: none;
    width: 85%;
    margin: 0 auto;
    background-color: white;
    
    position:relative;
    overflow: visible;
}

nav#block-an-navigation-left-nav ul li.active-trail {
    border:none;
    width: 95%;
    margin: 0px auto;
    position:relative;
    overflow: visible;
    
}

nav#block-an-navigation-left-nav > ul > li::after {
    content: '';   
    width: 100%;
    height:10px;
    position: absolute;
    bottom:-10px;
    left:0;
    background-color: rgba(84,49,110, .75);
    -webkit-transform:skew(35deg);
    -webkit-transform-origin:top;
    
    -moz-transform:skew(35deg);
    -moz-transform-origin:top;
    
    -ms-transform:skew(35deg);
    -ms-transform-origin:top;
    
    -o-transform:skew(35deg);
    -o-transform-origin:top;
    
    transform:skew(35deg);
    transform-origin:top;    
}

nav#block-an-navigation-left-nav > ul > li::before {
    content: '';
    width: 7px;
    height: 100%;
    position: absolute;
    top: 5px;
    right: -7px;
    background-color:  rgba(84,49,110, .75);
    -webkit-transform: skewY(55deg);
    -webkit-transform-origin: top;
    
    -moz-transform: skewY(55deg);
    -moz-transform-origin: top;
    
    -ms-transform: skewY(55deg);
    -ms-transform-origin: top;    
    
    -o-transform: skewY(55deg);
    -o-transform-origin: top;     
    
    transform: skewY(55deg);
    transform-origin: top;     
}​
nav{}

nav#block-an-navigation-left-nav ul li a { 
   
    box-sizing:border-box;
    display:block
    
}
nav#block-an-navigation-left-nav ul li > ul {
    background: white;
    padding-bottom: 0;
}

nav#block-an-navigation-left-nav ul li > ul li {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

nav#block-an-navigation-left-nav ul li > ul li.active-trail {
    width: 100%;
    padding-left: 0;
}

nav#block-an-navigation-left-nav ul li > ul li a {
    font: 400 12px/1.4  Helvetica, Verdana, Arial, sans-serif;
    text-align: left;
    text-decoration: none;
    
    padding-left: 30px;
    box-sizing: border-box;
    display:block;
}

nav#block-an-navigation-left-nav ul li.active-trail > ul {
    margin-bottom: 5px;
}

nav#block-an-navigation-left-nav > ul > li.last a{
    border-bottom: none;
}
/*
nav#block-an-navigation-left-nav ul {
    border: 1px solid #9AB83F;
    -moz-box-shadow: 3px 3px 5px  #9AB83F;
    -webkit-box-shadow: 3px 3px 5px #9AB83F;
    box-shadow: 3px 3px 5px  #9AB83F;
}

nav#block-an-navigation-left-nav > ul {
    border: 1px solid #9AB83F;
    -moz-box-shadow: 3px 3px 5px  #9AB83F;
    -webkit-box-shadow: 3px 3px 5px #9AB83F;
    box-shadow: 3px 3px 5px  #9AB83F;
}*/

nav#block-an-navigation-left-nav li a.active {
    background-color: rgba(84,49,110, 1);
    color: white;
    width: 100%;
    display:block;
}

