/* 
    Document   : user
    Created on : Jul 12, 2012, 2:49:41 PM
    Author     : ficcolm
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/*****************
* User Profile styles (Dan)
*****************/


/******************************************************
        Added by Doyle 7/17 - should be checked to make sure its not duplciated
        copied from another file.
********************************************************/
.profile-sidebar {
	  /* Span 1 column, starting in 1st column from left. */
        float: left;
        width: 280px;
        margin-left: 0px;
        margin-right: -280px;
        
}

.profile-content {
	  float: left;
        width: 860px;
        margin-left: 320px;
        margin-right: -1200px;
        
}



fieldset {
    width: 280px;
    box-sizing:border-box;
}

input[type="file"] {
    width: 240px;
}

.form-item-files-picture-upload .description {
    clear:both;
}
.profile-content > .form-item {
    margin-left: 40px;
}

.accrualnet-user-profile-form-wrapper .form-item .form-required, 
.accrualnet-user-register-form-wrapper .form-item .form-required {
    margin-left: -40px;
}



.edit-profile-button a,
.profile-sidebar  .imagecrop-button {
    color: #9AB83F;
    font-family: Verdana, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: 900;
    border: 1px solid #9AB83F;
    -moz-box-shadow: 3px 3px 5px #9AB83F;
    -webkit-box-shadow: 3px 3px 5px #9AB83F;
    box-shadow: 3px 3px 5px #9AB83F;
    background-color: white;
    background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, from(transparent), color-stop(0.15, transparent), color-stop(0.15, #E6EECD), color-stop(0.50, #E6EECD), color-stop(0.50, transparent), color-stop(0.65, transparent), color-stop(0.65, #E6EECD), to(#E6EECD));
    background-size: 5px 5px;
    -webkit-background-size: 5px 5px;
    
    padding: 10px 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.edit-profile-button,
.profile-sidebar  .imagecrop-button {
    text-align:center;
    margin: 30px 0;
    display:block;
    width: 60%;
}

.profile-sidebar .user-picture img {
    display:block;
}

/************************************************************************
            END DOYLES ADDS
*************************************************************************/


section.profile-sidebar > span.user-picture > a > img:after {
	-moz-transform: skew(35deg);
    -moz-transform-origin: center top;
    background-color: rgba(84, 49, 110, 0.75);
    bottom: -10px;
    content: "";
    height: 10px;
    left: 0;
    position: absolute;
    width: 100%;
}

section.profile-sidebar > span.user-picture > a > img:before {
	-moz-transform: skewY(55deg);
    -moz-transform-origin: center top;
    background-color: rgba(84, 49, 110, 0.75);
    content: "";
    height: 100%;
    position: absolute;
    right: -7px;
    top: 5px;
    width: 7px;
}

section.profile-sidebar span.user-picture a img {
  
    border: 1px solid rgba(84, 49, 110, 0.7);
    overflow: visible;
    position: relative;
    /*width: 85%;*/
}


section.Black span.user-picture a img,
.nci-profile-Black span.user-picture a img{
    border: 1px solid #2D2D2D;
    -moz-box-shadow: 3px 3px #2D2D2D;
    -webkit-box-shadow: 3px 3px  #2D2D2D;
    box-shadow: 3px 3px  #2D2D2D;
}
section.Red span.user-picture a img,
.nci-profile-Red span.user-picture a img{
    border: 1px solid #C74532;
    -moz-box-shadow: 3px 3px #C74532;
    -webkit-box-shadow: 3px 3px  #C74532;
    box-shadow: 3px 3px  #C74532;
}
section.Blue span.user-picture a img,
.nci-profile-Blue span.user-picture a img{
    border: 1px solid #105693;
    -moz-box-shadow: 3px 3px #105693;
    -webkit-box-shadow: 3px 3px  #105693;
    box-shadow: 3px 3px  #105693;
}
section.Orange span.user-picture a img,
.nci-profile-Orange span.user-picture a img{
    border: 1px solid #DC6E23;
    -moz-box-shadow: 3px 3px #DC6E23;
    -webkit-box-shadow: 3px 3px  #DC6E23;
    box-shadow: 3px 3px  #DC6E23;
}
section.Green span.user-picture a img,
.nci-profile-Green span.user-picture a img{
    border: 1px solid #9AB83F;
    -moz-box-shadow: 3px 3px #9AB83F;
    -webkit-box-shadow: 3px 3px  #9AB83F;
    box-shadow: 3px 3px  #9AB83F;
}
section.Purple span.user-picture a img,
.nci-profile-Purple span.user-picture a img{
    border: 1px solid #54316E;
    -moz-box-shadow: 3px 3px #54316E;
    -webkit-box-shadow: 3px 3px  #54316E;
    box-shadow: 3px 3px  #54316E;
}


section.profile-sidebar fieldset {
	border:none;
}


/* Added by Lauren */
/* July 12 
#test {
   border:1px solid red;
    background-color: rgba(84,49,110, .75);
    -webkit-transform: scale(1.3) skew(55deg);
    -webkit-transform-origin:top;
    
    -moz-transform:scale(1.3) skew(55deg);
    -moz-transform-origin:top;
    
    -ms-transform:scale(1.3) skew(55deg);
    -ms-transform-origin:top;
    
    -o-transform:scale(1.3) skew(55deg);
    -o-transform-origin:top;
    
    transform:scale(1.3) skew(55deg);
    transform-origin:top;    
}*/

.profile .field {
    
    margin: 15px;
}


.accrualnet-user-profile-form-wrapper h1 {
    font-size: 50px;
}

.nci-profile-Red .field-label {
    color: #C74532;
}

.accrualnet-user-profile-form-wrapper,
.accrualnet-user-register-form-wrapper{
    /*border: 1px solid red;*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: normal;
    color: black;
}

.accrualnet-user-profile-form-wrapper .form-item, 
.accrualnet-user-register-form-wrapper .form-item {
    /* border: 1px solid cyan; */
    clear:both;
    vertical-align: middle;
    position: relative;
}
.accrualnet-user-profile-form-wrapper .form-item label,
.accrualnet-user-register-form-wrapper .form-item label {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 0px;
}

.accrualnet-user-profile-form-wrapper .form-item .form-required,
.accrualnet-user-register-form-wrapper .form-item .form-required{
    float: left;
    padding-right: .75em;
}

.accrualnet-user-profile-form-wrapper .form-item input, 
.accrualnet-user-register-form-wrapper .form-item input{
    color: black;
    border-width: 1px;
    border-color: #9AB83F;
    width: 500px;
}

input#edit-name {
    font-size: 25px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.accrualnet-user-profile-form-wrapper div.password-strength{
    color: black;
    font-weight: normal;
    position: absolute;
    left: 525px;
    top: 35px;
    width: 170px;
    visibility: hidden;
}


div.password-strength-text {
    float: right;
}

.form-type-password-confirm .password-suggestions {
    width:0px;
    height:0px;
    overflow: hidden;
}

.accrualnet-user-profile-form-wrapper div.password-confirm {
    color: black;
    font-weight: normal;
    position: absolute;
    left: 525px;
    top: 35px;
    width: 180px;
    visibility: hidden;
}


.accrualnet-user-profile-form-wrapper .form-item .form-type-checkbox label,
.accrualnet-user-register-form-wrapper .form-item .form-type-checkbox label{
    margin-left: 25px;
    color: black;
    font-weight: normal;
    font-size: 13px;
    text-transform: uppercase;
}



div.selectBox {
    position:relative;
    display:inline-block;
    cursor:default;
    text-align:left;
    line-height:30px;
    clear:both;
    color: #000;
    border: 1px solid #9AB83F;
    width: 500px;
}
span.selected {
    width:469px;
    text-indent:20px;
    background: transparent;
    overflow:hidden;
}
span.selectArrow {
    width:30px;
    text-align:center;
    font-size:20px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    background: transparent;
    color: #9AB83F;
}
 
span.selectArrow,span.selected {
    position:relative;
    float:left;
    height:30px;
    z-index:1;
}

div.selectOptions {
    position:absolute;
    top:28px;
    left:0px;
    width:498px;
    overflow:hidden;
    background: #fff;

    padding-top:2px;
    display:none;
    color: #696969;
}
     
span.selectOption {
    display:block;
    width:90%;
    line-height:20px;
    padding:5px 20px;
}

span.selectedd {
    color: #000;
}
 
span.selectOption:hover {
    color: #000;
    background: #fff;        
}



/*.accrualnet-user-profile-form-wrapper*/ .form-actions input {
    border: 2px solid #9AB83F;

  color:#9AB83F;
  font-weight: bold;
  background-color:#2f2f2f;
  background-image:-webkit-repeating-linear-gradient(left top, #D5FF87 0px, #fff 4px);
  background-image:-moz-repeating-linear-gradient(left top, #D5FF87 0px, #fff 4px);
  background-image:-ms-repeating-linear-gradient(left top, #D5FF87 0px, #fff 4px);
  background-image:-o-repeating-linear-gradient(left top, #D5FF87 0px, #fff 4px);
  background-image:repeating-linear-gradient(left top, #D5FF87 0px, #fff 4px);

/*
background-image: -webkit-gradient(linear, left top, right bottom, 
    color-stop(0, #ccc), 
    color-stop(0.25, #ccc), 
    color-stop(0.25, #bbb), 
    color-stop(0.5, #bbb), 
    color-stop(0.5, #ccc), 
    color-stop(0.75, #ccc), 
    color-stop(0.75, #bbb));
background-image: -webkit-linear-gradient(left top, #ccc 0%, #ccc 25%, #bbb 25%, #bbb 50%, #ccc 50%, #ccc 75%, #bbb 75%);
background-image: -moz-linear-gradient(left top, #c74532 1%, #105693 1%, #c74532 48%, #105693 50%);
background-image: -ms-linear-gradient(left top, #ccc 0%, #ccc 25%, #bbb 25%, #bbb 50%, #ccc 50%, #ccc 75%, #bbb 75%);
background-image: -o-linear-gradient(left top, #ccc 0%, #ccc 25%, #bbb 25%, #bbb 50%, #ccc 50%, #ccc 75%, #bbb 75
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#bbbbbb',GradientType=0 ); /* IE6-8 */

margin: 10px;
text-transform: uppercase;
font-family: Arial, Helvetica, sans-serif;

}

/*.accrualnet-user-profile-form-wrapper*/ .form-actions input:hover {
    border: 2px solid #9AB83F;

  color:#fff;
  font-weight: bold;
  background-color:#2f2f2f;
  background-image:-webkit-repeating-linear-gradient(left top, #BCD35A 0px, #9AB83F 4px);
  background-image:-moz-repeating-linear-gradient(left top, #BCD35A 0px, #9AB83F 4px);
  background-image:-ms-repeating-linear-gradient(left top, #BCD35A 0px, #9AB83F 4px);
  background-image:-o-repeating-linear-gradient(left top, #BCD35A 0px, #9AB83F 4px);
  background-image:repeating-linear-gradient(left top, #BCD35A 0px, #9AB83F 4px);

/*
background-image: -webkit-gradient(linear, left top, right bottom, 
    color-stop(0, #ccc), 
    color-stop(0.25, #ccc), 
    color-stop(0.25, #bbb), 
    color-stop(0.5, #bbb), 
    color-stop(0.5, #ccc), 
    color-stop(0.75, #ccc), 
    color-stop(0.75, #bbb));
background-image: -webkit-linear-gradient(left top, #ccc 0%, #ccc 25%, #bbb 25%, #bbb 50%, #ccc 50%, #ccc 75%, #bbb 75%);
background-image: -moz-linear-gradient(left top, #c74532 1%, #105693 1%, #c74532 48%, #105693 50%);
background-image: -ms-linear-gradient(left top, #ccc 0%, #ccc 25%, #bbb 25%, #bbb 50%, #ccc 50%, #ccc 75%, #bbb 75%);
background-image: -o-linear-gradient(left top, #ccc 0%, #ccc 25%, #bbb 25%, #bbb 50%, #ccc 50%, #ccc 75%, #bbb 75
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#bbbbbb',GradientType=0 ); /* IE6-8 */

margin: 10px;
text-transform: uppercase;
font-family: Arial, Helvetica, sans-serif;
}

.Red label,
.Red input#edit-name,
.nci-profile-Red .field-label{
    color: #C74532;
}
.Green label,
.Green input#edit-name,
.nci-profile-Green .field-label{
    color: #9AB83F;
}
.Black label,
.Black input#edit-name,
.nci-profile-Black .field-label{
    color: #2D2D2D;
}
.Orange label,
.Orange input#edit-name,
.nci-profile-Orange .field-label{
    color: #DC6E23;
}
.Blue label,
.Blue input#edit-name,
.nci-profile-Blue .field-label{
    color: #105693;
}
.Purple label,
.Purple input#edit-name,
.nci-profile-Purple .field-label{
    color: #54316E;
}

h1.field-label {
    text-transform: uppercase;
    border-bottom: 3px dotted #c2c2c2;
    padding-bottom: 10px;
    margin-top: 0;
    padding-left: 15px;
}

.profile-colors-wrapper {
    border: 1px solid #9AB83F;
    width: 150px;
    margin: 0px;
    padding: 10px;
}
.profile-colors-wrapper label {
    margin-left: 5px;
}
.profile-colors-wrapper .form-item, 
.profile-avatars-wrapper .form-item {
    border-bottom: 1px dotted black;
    margin: 0px 4px 10px 4px;

}
.profile-colors-wrapper .form-item label,
.profile-avatars-wrapper .form-item label{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    color: #54316E;
}

.profile-colors-container {

    width: 100%;
}



.profile-colors-selected {
    height: 25px;
    margin: 0px 5px 3px 5px;
    
}


input.select-or-other-other {
    margin-top: 0px;
    margin-bottom: 45px;
}

.profile-colors-options {
margin-left: auto;
margin-right: auto;
text-align: center;
}
input {
    float: left;
    vertical-align:middle;
}
.accrualnet-user-profile-form-wrapper .description,
.accrualnet-user-register-form-wrapper .description{
    position: absolute;
    left: 500px;
    /*font-weight: bold;
    border: 1px solid #9AB83F;
    background-color: #fff;
    color: #9AB83F;
    margin-left: 20px;
    padding:0px;
    margin-top: auto;
    margin-bottom: auto;
    height: 24px;
    width: 28px;
    font-size: 29px;
    text-align: center;*/

    padding-left: 10px;
    width:30px;
}
.accrualnet-user-profile-form-wrapper .form-type-textfield .description, 
.accrualnet-user-register-form-wrapper .form-type-textfield .description {
    top: auto;
    bottom: auto;
       left: 525px;
}
.accrualnet-user-profile-form-wrapper .field-type-text .description, 
.accrualnet-user-register-form-wrapper .field-type-text .description {
   position: absolute;
   top: 15px;
   left: 450px;
}
 .form-item-name .description {
     position: absolute;
    top: 25px;
    right: 5px;
}
.form-item-pass .description {
    top: 2px;
    left: 110px;
}
 #edit-field-occupation .description {
    top: 2px;
    left: 80px;
}
 #edit-field-institution-type .description {
    top: 2px;
    left: 115px;
}
 #edit-field-years-in-research .description {
    top: 2px;
    left: 190px;
}
 #edit-field-areas-of-interest .description {
    top: 2px;
    left: 130px;
}

span.picked {
        opacity:1.0;
filter:alpha(opacity=100); /* For IE8 and earlier */
}



.accrualnet-user-profile-form-wrapper .field-type-list-text .description,
.accrualnet-user-profile-form-wrapper .field-widget-options-select .description,
.accrualnet-user-profile-form-wrapper .field-widget-select-or-other .description {
    position: absolute;
    top: 15px;
    left: 500px;
}

.user-img-or {
    color:#54316E;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: -25px;
}

.description img {
    height: 28px;
    vertical-align: middle;
}


.form-item-name, .form-item-mail, .form-item-pass {
    padding-bottom: 45px;
}

.profile-colors-options span {
    margin: 5px;
    width: 25px;
    padding: 0px 10px;
    opacity:0.4;
filter:alpha(opacity=40); /* For IE8 and earlier */
}

.profile-colors-options span:hover {
    margin: 5px;
    width: 25px;
    padding: 0px 10px;
    opacity:1.0;
filter:alpha(opacity=100); /* For IE8 and earlier */
}

div.profile-colors-options span#Black,
div.profile-colors-selected div#Black,
#Black.profile-colors-selected {
    background-color: #2d2d2d;
}
div.profile-colors-options span#Red,
div.profile-colors-selected div#Red,
#Red.profile-colors-selected {
    background-color: #C74532;
}
div.profile-colors-options span#Orange,
div.profile-colors-selected div#Orange,
#Orange.profile-colors-selected {
    background-color: #DC6E23;
}
div.profile-colors-options span#Blue,
div.profile-colors-selected div#Blue,
#Blue.profile-colors-selected {
    background-color: #105693;
}
div.profile-colors-options span#Green,
div.profile-colors-selected div#Green,
#Green.profile-colors-selected {
    background-color: #9AB83F;
}
div.profile-colors-options span#Purple,
div.profile-colors-selected div#Purple,
#Purple.profile-colors-selected {
    background-color: #54316E;
}

.form-actions {
    clear: both;
}

.form-required img {
    width: 25px;
    height: auto;
}
.form-required {
    width: 30px;
}
.avatar-option {
    padding: 5px;        
    opacity:0.4;
filter:alpha(opacity=40); /* For IE8 and earlier */
    
}
.profile-avatars-wrapper {
    border: 1px solid #9AB83F;
    width: 180px;
    padding: 10px;
}
.avatar-option:hover {
        opacity:1.0;
filter:alpha(opacity=100); /* For IE8 and earlier */
}
.avatar-option img {
    width: 25px;
    height: auto;
}

.selected-avatar img {
    width: 100px;
    height: auto;
}


#user-profile-form div.profile-colors-wrapper,
#user-profile-form div.profile-avatars-wrapper,
#user-register-form div.profile-colors-wrapper,
#user-register-form div.profile-avatars-wrapper {
    color: #9AB83F;
    font-family: Verdana, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    text-align:center;
    font-size: 14px;
    font-weight: 900;
    border: 1px solid #9AB83F;
    -moz-box-shadow: 3px 3px #9AB83F;
    -webkit-box-shadow: 3px 3px  #9AB83F;
    box-shadow: 3px 3px  #9AB83F;
    width: 240px;
    
   
}


#username-warning {
    color: #696969;
    font-style: italic;
    padding-top: 0px;
    margin-top: -20px;
    left:0px;
}