/* 
    Document   : resources
    Created on : Jul 9, 2012, 12:05:36 PM
    Author     : ficcolm
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
.education-level-2-item{
	border-top: 3px dotted #d2d2d2;
    clear:both;
}

div.education-level-2-item .pager {
	float: right;
}

div.landing-page-output-image{
	float: left;
	margin-top: auto;
	margin-bottom: auto;
	vertical-align:top;
}

.education-title-2{
	float: left;
}

.education-level-2-item .item-list{
	float: right;
}

div.education-level-2-item .form-actions input{
	margin-left: 0;
}

.education-level-2-item h2.education-title-2 a,
.education-level-2-item h2.education-title-2 a:visited,
.education-level-2-item h2.education-title-2 a:active,
.education-level-2-item h2.education-title-2 a:hover {
    color: #C74532;
    font-weight: normal;
    font-size: 17px;
}
.education-level-2-item h2.education-title-2 a:hover {
    font-weight:bold;
}

.education-level-2-item h2.education-title-2{
	border-bottom: 0;
}

.education-level-2-result div.resource-output-title a {
	color: #C74532;
}

.education-level-2-result div.resource-output-title a:visited {
	/*letter-spacing: .018em;*/
	color: #C74532;
}

.education-level-2-result div.resource-output-title a:hover,
.education-level-2-result div.resource-output-title a:active{
	font-weight: bold;
	color: #C74532;
}

div.education-level-2-result div.resource-output{
	min-height: 20px;
}